.pirsa-breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;

    @include breakpoint('sm') {
        flex-wrap: unset;
    }

    .nsw-breadcrumbs {
        flex-grow: 1;
        margin-top: 0;

        ol li {
            //margin-top: 0;      
        } 

        a{
            line-height: var(--nsw-line-height-xs-desktop);
        }
    }

    .pirsa-page-updated {
        align-self: center;
        font-size: var(--nsw-font-size-xs-desktop);
        line-height: var(--nsw-line-height-xs-desktop);
        flex-shrink: 0;
        margin-top: .5rem; 
    }
}