.pirsa-carousel {
    --carousel-item-auto-size: 320px;

    &__item {
        width: var(--carousel-item-auto-size);

        // &:nth-of-type(odd) {
        //     margin-bottom: 3rem;
        // }

    }

    &__controls {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include breakpoint('md') {
            flex-wrap: nowrap;
        }  

        &__title {
            flex-grow: 1;
            margin-top: .25rem;
            width: 100%;
            
            @include breakpoint('md') {
                width: auto;
            }              
        }

        &__buttons {
            display: flex;
            margin-top: 0;
            width: 100%;
            gap: 10px!important;
            
            @include breakpoint('md') {
                justify-content: flex-end;
                width: auto;
            }   

            li {
                margin: 0;
            }

            button {
                width: 3rem;
                height: 3rem;
            }

        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-top: 1rem;

            @include breakpoint('md') {
                width: unset;
                gap: 2rem;
            }
        }

    }

    .nsw-carousel__wrapper {
        width: 100%;
    }


    .nsw-card__title {
        font-size:var(--pirsa-font-size-title);
    }

    .nsw-card__copy {
        font-size:var(--pirsa-font-size-copy);
    }

    .nsw-card__content {
        background-color: var(--nsw-grey-02);
        color: var(--nsw-text-light);
        border: 0;
    }    

    a {
        color: var(--nsw-text-light);
    }
  
    .nsw-material-icons {
        border: 2px solid;
        border-radius: 50%;
        color: var(--nsw-text-light);
        font-size: 1.25em;        
        padding: 4px;
        height: 2rem;
        width: 2rem;
        bottom: 1.25rem;
        left: 1.25rem;        

        @include breakpoint('lg') {
            font-size: 1.625em;        
            padding: 5px;
            height: 2.5rem;
            width: 2.5rem;    
            bottom: 2rem;
            left: 2rem;   
        }

    }     

}