.pirsa-content-block {

    a {
        font-weight: var(--nsw-font-normal);
        text-decoration: none;
    }    

    .nsw-content-block__list {

        li {
            padding: .25rem 0 .25rem .875rem;
        }

        li::before {
            top: .875rem;
        }
    }

    .nsw-content-block__link {
        a {
            font-weight: var(--nsw-font-bold);
        }
    }

    &__title {
        color: var(--nsw-brand-dark);
    }


    &--full-height {
        height: 100%;
    }


    .search-results & {

        .nsw-content-block__title {
            font-size: var(--nsw-font-size-md-desktop);
            line-height: var(--nsw-line-height-md-desktop);
            border-bottom: 1px solid var(--nsw-grey-03);
            padding-bottom: 1.5rem;
        }
    
        .nsw-content-block__list {
            list-style: none;

            li {
                padding: .5rem 0 .5rem 0;
            }

            li::before {
                content: none;
            }
        }
    
    }



}