.pirsa-footer {
    .nsw-footer {
        &__acknowledgement {
            font-size: .9rem;
        }

        &__lower {
            background-color: var(--nsw-grey-02);

            a {
                font-weight: var(--nsw-font-normal);
            }

            ul {
                flex-direction: column;
                @include breakpoint('md') {
                    flex-direction: row;
                }           
                &.pirsa-footer__link-list {
                    display: list-item; 
                    li {
                        margin-right: 0;
                    }
                }
            }
            li {
                flex-basis: 100%;
                max-width: 100%;
                @include breakpoint('md') {
                    flex-basis: unset;
                    max-width: unset;
                }              
            }
        } 

        &__social {
            a {
                &.nsw-icon-button {
                margin: 0;
                    &:first-of-type {
                        margin-left: 0.25rem;
                    }
                }
            }
        }
    }
}