.pirsa-header {
    .nsw-header__waratah {
        justify-content: left;
        padding: 14px 6px;

        a {
            width: 180px;
        }

        img {
            width: 100%;
        }
    }

    .nsw-header__search {
        display: flex;
        gap: 8px;
        top: 8px;
        right: 0;
    }

    .nsw-header__menu {
        top: 8px;
        right: 64px; 
        left: unset;
    }

    .translate__container {
        display: none;
    }

    .translate__button {
        display: flex;
        padding: 0 16px;
        align-items: center;
        flex-direction: row;
        gap: 4px;
        width: unset;
        height: 48px;

        .globe {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }

        .chevron {
            width: 30px;
            height: 30px;
            transition: transform .3s;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .translate__button[aria-expanded="true"] .chevron {
        transform: rotate(180deg);
    }

    .translate__languages {
        background: var(--nsw-white);
        border: 1px solid var(--nsw-grey-04);
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .15);
        list-style: none;
        margin: 0;
        max-height: 400px;
        min-width: 295px;
        overflow-y: scroll;
        padding: 0;
        position: absolute;
        right: 0;
        top: 60px;
        width: 100%;
        z-index: 201;

        li {
            margin: 0;
            padding: 0;
        }

        a {
            display: block;
            line-height: 1.5rem;
            padding: .5rem 1.5rem;
            border-bottom: 1px solid var(--nsw-grey-04);
            color: var(--nsw-grey-01);
            width: unset;
            height: unset;
            text-align: left;
            font-size: inherit;

            &:focus {
                outline-offset: -3px;
            }
        }
    }

    #translateMenu0[aria-hidden=true] {
        display: none;
    }

    .utility-link {
        display: none;
    }


    @media screen and (min-width: 62rem) {

        .nsw-header__main {
            margin: 14px 0;
        }
        .nsw-header__waratah {
            // justify-content: left;
            padding: 0;
    
            a {
                width: 297px;
            }
        }

        .nsw-header__search {
            top: 50%;
            align-items: center;
        }
        .translate__container {
            display: block;
        }

        .utility-link {
            display: flex;
            color: var(--neutral-grey-02, #495054);
            font-feature-settings: 'liga' off, 'clig' off;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            width: unset;
        }
    }
}