.nsw-in-page-nav {
    border-left: 0;
    padding: 0 0 1rem 0;

    li {
        margin-top: .5rem;

        &::before {
            color: var(--nsw-brand-dark);
            content: "\e5db";
            font-family: "Material Icons";
            font-size: 1.5rem;
            font-weight: var(--nsw-font-normal);
            vertical-align: middle;
        }

        a { 
            padding: .25rem !important;
            text-decoration: none;
        }
    }
}