.pirsa-large-card {
    align-items: flex-end;
    background-position: center;
    background-size: auto 100%;    
    color: var(--nsw-text-light);
    min-height: 32.5rem;
    
    .nsw-card__image {
        display: none;
    }

    .nsw-card__copy {
        font-size:var(--pirsa-font-size-copy);
    }    

    .nsw-card__content {
        background-color: var(--pirsa-dark-overlay);
        border: none;
        height: auto;
        margin-top: auto;
        width: 100%;
        padding: 1rem 1rem 4rem 1rem;

        &:hover {
            background-color: var(--pirsa-dark-overlay-hover);
            padding-bottom: 1rem;
            padding-right: 4rem;

            .nsw-material-icons {
                left: unset;
                right: 1rem;
            }
        }
    }
    
    .nsw-card__tag {
        font-size: var(--pirsa-font-size-meta);
        font-weight: var(--nsw-font-normal);
        text-transform: uppercase;
    }

    a {
        color: var(--nsw-text-light);
    }
  
    .nsw-material-icons {
        border: 2px solid;
        border-radius: 50%;
        color: var(--nsw-text-light);
        font-size: 1.25em;        
        padding: 4px;
        height: 2rem;
        width: 2rem;
        bottom: 1rem;
        left: 1rem;          
    }    
}