.pirsa-large-card {
    align-items: flex-end;
    background-position: center;
    background-size: cover;    
    color: var(--nsw-text-light);
    min-height: 32.5rem;

    .nsw-card__image {
        display: none;
    }

    .nsw-card__title {
        @include breakpoint('lg') {
            font-size: var(--nsw-font-size-lg-desktop);
            line-height: var(--nsw-line-height-lg-desktop);
        }  
    }


     .nsw-card__copy {
        //font-size:var(--pirsa-font-size-copy);
        padding-bottom: 1rem;
     }    

    .nsw-card__content {
        background-color: var(--pirsa-dark-overlay);
        border: none;
        height: auto;
        margin-top: auto;
        width: 100%;

        &:hover {
            background-color: var(--pirsa-dark-overlay-hover);
        }
    }
    
    .nsw-card__tag {
        font-size: var(--pirsa-font-size-meta);
        font-weight: var(--nsw-font-normal);
        text-transform: uppercase;
    }

    a {
        color: var(--nsw-text-light);
    }
  
    .nsw-material-icons {
        border: 2px solid;
        border-radius: 50%;
        color: var(--nsw-text-light);
        font-size: 1.875em;        
        padding: 7px;
        height: 3rem;
        width: 3rem;        
    }    
}