.pirsa-link-list {
    margin-top: 0;
    color: var(--nsw-brand-dark);

    a {
        justify-content: start;
        padding: 1rem;
        font-weight: var(--nsw-font-normal);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        span {
            text-decoration: none;
        }

    }
    span {
        margin-right: .75rem;
    }

    li {
        border: 0;
        &:last-child {
            border: 0;
        }
    }

    .pirsa-icon {
        color: var(--nsw-brand-supplementary);
    }

    &__item {
        font-size: 20px;
        line-height: 28px;
    }
}