.nsw-main-nav {
    background-color: var(--nsw-white);

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        @include breakpoint('lg') {
            display: block;
            flex-direction: unset;
            width: unset;
            height: unset;
            overflow: visible;
        }

    }

    li {
        a {
            @include breakpoint('lg') {
                color: var(--pirsa-brand-primary);
                font-weight: 600;
                padding: 10px 16px;
            }
            .nsw-material-icons {
                color: var(--pirsa-brand-primary);
            }
        }
    } 

    &__list {
        flex-grow: 1;
        @include breakpoint('lg') {
            padding: 12px 0;
            column-gap: 10px;
        }

        @include breakpoint('xl') { 
            column-gap: 40px;
        }

        > li > a {      
            @include breakpoint($nsw-desktop-breakpoint) {     
              &.active {
                // border-bottom: 4px solid var(--nsw-brand-supplementary);
                box-shadow: inset 0 -4px 0 var(--nsw-brand-supplementary);
              }
            }
          }        

    }

    &__header {
        border-color: var(--pirsa-brand-light);

        .nsw-icon-button .nsw-material-icons {
            color: var(--nsw-black);
        }
    }

    &__sub-nav {

        @include breakpoint('lg') {
            background-color: var(--nsw-off-white);
        }

        li {
            a {
                color: var(--pirsa-brand-primary);
            }
        }

        .nsw-main-nav__title a {
            color: var(--pirsa-brand-primary);
        }

        &__mega-menu {
            padding: 0 1rem;

            h3 {
                a {
                    padding: 0 !important;
                }
            }

            &__logo {
                a {
                    margin: 0;
                    padding: 0 !important;

                    &:hover {
                        background-color: transparent !important; 
                    }
                }
            }

            &__group {
                border-top: solid 1px var(--nsw-grey-04);   
                margin-bottom: 2rem;

                &:last-of-type {
                    margin-bottom: 0;
                }

                &__title {
                    font-weight: var(--nsw-font-bold);
                    margin-top: 1rem;

                    a {
                        padding: 0 !important;
                    }
                }

                ul &__list-links {
                    display: block;
                    margin: 0;
                    flex-flow: unset;

                    li {
                        border: 0;
                        margin: .5rem 0;
                        width: 100%;

                        &:nth-child(3n+2) {
                            margin: 0;
                        }

                        &:nth-last-child(-n+3) {
                            box-shadow: none;
                        }

                        a {
                            font-weight: var(--nsw-font-normal);
                            padding:0;
                        }
                    }
                }
            }
        }
    }

    &__mobile-extra-links {
        align-self: flex-end;
        background-color: var(--pirsa-accent-light);
        width: 100%;
    }

}


.translate-mobile {
    position: relative;
    margin: 1rem!important;

    .translate__container {
        position: absolute;
    }

    .translate__languages {
        display: none;
        height: 250px;
        padding-left: 0px;
        position: absolute;
        overflow-y: scroll;
        bottom: 32px;
        width: 100%;
        border: 1px solid black;
        background: #0b3f471a;
        border-radius: 0.25rem;
        overflow-y: scroll;
        background: white;

        a {
            font-weight: 700;
        }
    }

    .nsw-form__label {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5rem;
    }

    .nsw-form__select {
        cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg fill='%23333333' version='1.1' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 32 32'%3E%3Cpath d='M16 26l16-16-4-4-12 12-12-12-4 4 15 16z'%3E%3C/path%3E%3C/svg%3E") no-repeat right 1rem center,
            white !important;
    }

    &.active {
        .translate__container {
            bottom: calc(100% - 2.75rem);
            max-height: 250px;
            width: 100%;
        }

        .translate__languages {
            display: block;
        }

        .nsw-form__select {
            background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2032%2032%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M16%2026l16-16-4-4-12%2012-12-12-4%204%2015%2016z%22%20transform%3D%22rotate(180%2C%2016%2C%2016)%22%3E%3C/path%3E%3C/svg%3E") no-repeat right 1rem center,
                white !important;
            background-size: 16px 16px !important;
            // width: 16px;
            // height: 16px;
        }
    }
}