.nsw-main-nav {
    background-color: var(--nsw-white);

    li {
        a {
            .nsw-material-icons {
                color: var(--pirsa-brand-primary);
            }
        }
    } 

    &__list {
        > li {      
            @include breakpoint($nsw-desktop-breakpoint) {
              &.active {
                box-shadow: inset 0 -4px 0 var(--pirsa-brand-primary);
              }
            }
        }

        > li > a {      
            @include breakpoint($nsw-desktop-breakpoint) {     
              &.active {
                box-shadow: inset 0 -4px 0 var(--pirsa-brand-primary);
              }
            }
          }        

    }

    &__sub-nav {
        li {
            a {
                color: var(--pirsa-brand-primary);
            }
        }

        .nsw-main-nav__title a {
            color: var(--pirsa-brand-primary);
        }
    }

    &__header {
        border-color: var(--pirsa-brand-light);

        .nsw-icon-button .nsw-material-icons {
            color: var(--nsw-black);
        }
    }


}