.nsw-main-nav {
    background-color: var(--nsw-white);

    li {
        a {
            .nsw-material-icons {
                color: var(--pirsa-brand-primary);
            }
        }
    } 

    &__list {
        > li {      
            @include breakpoint($nsw-desktop-breakpoint) {
              &.active {
                box-shadow: inset 0 -4px 0 var(--pirsa-brand-primary);
              }
            }
        }

        > li > a {      
            @include breakpoint($nsw-desktop-breakpoint) {     
              &.active {
                box-shadow: inset 0 -4px 0 var(--pirsa-brand-primary);
              }
            }
          }        

    }

    &__header {
        border-color: var(--pirsa-brand-light);

        .nsw-icon-button .nsw-material-icons {
            color: var(--nsw-black);
        }
    }

    &__sub-nav {
        li {
            a {
                color: var(--pirsa-brand-primary);
            }
        }

        .nsw-main-nav__title a {
            color: var(--pirsa-brand-primary);
        }

        &__mega-menu {
            padding: 0 1rem;

            h3 {
                a {
                    padding: 0 !important;
                }
            }

            &__logo {
                a {
                    margin: 0;
                    padding: 0 !important;

                    &:hover {
                        background-color: transparent !important; 
                    }
                }
            }

            &__group {
                border-top: solid 1px var(--nsw-grey-04);   
                margin-bottom: 2rem;

                &:last-of-type {
                    margin-bottom: 0;
                }

                &__title {
                    font-weight: var(--nsw-font-bold);
                    margin-top: 1rem;

                    a {
                        padding: 0 !important;
                    }
                }

                ul &__list-links {
                    display: block;
                    margin: 0;
                    flex-flow: unset;

                    li {
                        border: 0;
                        margin: .5rem 0;
                        width: 100%;

                        &:nth-child(3n+2) {
                            margin: 0;
                        }

                        &:nth-last-child(-n+3) {
                            box-shadow: none;
                        }

                        a {
                            font-weight: var(--nsw-font-normal);
                            padding:0;
                        }
                    }
                }
            }
        }
    }
}