.pirsa-page-banner {    
    padding: 0;
    min-height: 25rem;

    @include breakpoint('lg') {
        min-height: 30rem;
    }

    // same logo styles as 'hero banner'
    &__logo {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        @include breakpoint('sm') {
            right: 1rem;
        }

        img {
            height: 8rem;
            
            @include breakpoint('sm') {
                height: 10rem;
            }    
            
            @include breakpoint('md') {
                height: unset;
            }                
            
        }
    }

}