.pirsa-page-banner {    
    padding: 0;
    min-height: 20rem;
    color: var(--nsw-font-light);
    background-size: cover;
    background-position: center;

    &__overlay {
        background-color: var(--pirsa-overlay);
    }

    &__container {
        display: flex;
        align-items: flex-end;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        min-height: 20rem;
    }

    &__content {
        color: var(--nsw-text-light);
        padding-bottom: 3rem;
    }

    // same logo styles as 'hero banner'
    &__logo {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        @include breakpoint('sm') {
            right: 1rem;
        }

        img {
            height: 6.625rem;
            
            @include breakpoint('sm') {
                height: 10rem;
            }    
            
            @include breakpoint('md') {
                height: unset;
            }                
            
        }
    }

    &__search {
        align-items: center;

        .pirsa-page-banner__content {
            padding-bottom: 0;
            width: 100%;
        }
    }

}