.nsw-status-label {
    &--results {
        border-color: var(--nsw-brand-supplementary);
        background-color: var(--nsw-brand-supplementary);
        color: var(--nsw-white);
        font-size: .688rem;
        font-weight: var(--nsw-font-normal);
        margin-left: 0.5rem;
        padding: 0.0625rem .5rem;
        vertical-align: text-bottom;        
        line-height: 14px;
    }
}