.pirsa-tag {
    background-color: var(--nsw-brand-dark);
    border-color: var(--nsw-brand-dark);
    color: var(--nsw-brand-light);

    &:hover:not(.nsw-tag--checkbox, span) {
       background-color: var(--nsw-brand-light);
       color: var(--nsw-brand-dark);
    }
    &:visited {
       color: var(--nsw-brand-light);
    }
}