// 2 col and 3 col page layout
.nsw-layout {


    &--3-col,
    &--2-col {
        flex-wrap: wrap;

        @include breakpoint('lg') {
            flex-wrap: nowrap;
        }
    }


    &__sidebar {
        .nsw-layout--3-col & {
            //order: 2;
            width: 100%;
            
            @include breakpoint('lg') {
                //order: 1;
                padding-right: 1rem;
                width: 21rem;
                min-width: 21rem;
            }

            &:last-child {
                width: 100%;
                
                @include breakpoint('lg') {
                    padding-left: 1rem;
                    width: 16rem;
                    min-width: 16rem;
                }   

                .search-results & {
                    padding-top: 2.25rem;
                }
            }
        }

        .nsw-layout--2-col & {
            //order: 2;
            @include breakpoint('lg') {
                //order: 1;
                padding-right: 1rem;
                width: 21rem;
                min-width: 21rem;
            }
        }

        .search-results & {
            //order: 0;
            @include breakpoint('lg') {
                //order: 1;
            }            
        }
    }

    &__main {
        
        .nsw-layout--3-col & {
            //order: 1;
            width: auto;
        }

        .nsw-layout--2-col & {
            //order: 1;
            max-width: unset;
            width: unset;
        }
        

    }

}