.pirsa-section {
    background-color: var(--pirsa-accent-light);

    .pirsa-section__sidebar {
        padding: 1.5rem;
    
        &__content {
            border-bottom: 1px solid var(--nsw-grey-03);
            padding-bottom: 2rem;
        }
    
        &:last-of-type {
            .pirsa-section__sidebar__content {
                border-bottom: 0;
            }
        }
    
        & + & {
            padding-top: .5rem;
        }
    }

}

// handle background colors
.landing .nsw-section:has(.pirsa-breadcrumbs),
.landing main.nsw-layout__main {
    background-color: var(--nsw-brand-light);
}

.landing--no-bg .nsw-section:has(.pirsa-breadcrumbs),
.landing--no-bg main.nsw-layout__main {
    background-color: #fff;
}

.landing main {
    padding-bottom: 0;
}

.landing footer {
    margin-top: 0;
}

.landing main:last-child {
    padding-bottom: 0;
}

.bg-white {
      background-color: #ffffff;
  }