/* SARDI theme overrides */

.sardi {
    // --sardi-brand-primary: #009661;
    --nsw-brand-dark: #009661;
    // --sardi-brand-dark: #007C54;
    --nsw-brand-supplementary: #007C54;
    // --sardi-brand-light: #EEF7F4;
    --nsw-brand-light: #EEF7F4;
}