/* Variables */
:root {

    /* pirsa brand colours used in header and main nav */
    --pirsa-brand-primary: #00427A;
    --pirsa-brand-light: #F3F9FF;
    --pirsa-brand-dark: #0098CB;
    --pirsa-brand-secondary: #D52B1E;

    --nsw-brand-dark: #00427A;
    --nsw-brand-supplementary: #0098CB;
    --nsw-brand-light: #F3F9FF; 
    --nsw-brand-accent: #D52B1E;

    --pirsa-grey: #575757;
    --pirsa-grey-tabs: #6D7079;
    --pirsa-accent-light: #F3F9FF;

    --nsw-grey-01: #22272B;
    --nsw-grey-02: #495054;
    --nsw-grey-03: #CDD3D6;
    --nsw-grey-04: #EBEBEB;

    --nsw-off-white: #f2f2f2;

    //--pirsa-dark-overlay: #22272B;
    --pirsa-dark-overlay: rgba(34, 39, 43, .85);
    --pirsa-dark-overlay-hover: rgba(34, 39, 43, .95);
    
    --pirsa-side-nav-light: #fbfbfb;

    //smaller font sizes for cards, etc
    --pirsa-font-size-title: 1.25rem;
    --pirsa-font-size-copy: .875rem;
    --pirsa-font-size-meta: .875rem;

}