/* Variables */

:root {
    --pirsa-brand-primary:#00427A;
    --pirsa-brand-dark: #0098CB;
    --pirsa-brand-light: #F3F9FF;
    --pirsa-brand-secondary: #D52B1E;

    --sardi-brand-primary: #009661;
    --sardi-brand-dark: #007C54;
    --sardi-brand-light: #EEF7F4;

    --pirsa-grey: #575757;

    --nsw-grey-01: #22272B;
    --nsw-grey-02: #495054;
    --nsw-grey-03: #CDD3D6;
    --nsw-grey-04: #EBEBEB;

    --nsw-off-white: #f2f2f2;
}