/* Variables */

:root {
    //--pirsa-brand-primary:#00427A;
    --nsw-brand-dark: #00427A;
    //--pirsa-brand-dark: #0098CB;
    --nsw-brand-supplementary: #0098CB;
    //--pirsa-brand-light: #F3F9FF;
    --nsw-brand-light: #F3F9FF; 
    //--pirsa-brand-secondary: #D52B1E;
    --nsw-brand-accent: #D52B1E;

    --pirsa-grey: #575757;

    --nsw-grey-01: #22272B;
    --nsw-grey-02: #495054;
    --nsw-grey-03: #CDD3D6;
    --nsw-grey-04: #EBEBEB;

    --nsw-off-white: #f2f2f2;

    //--pirsa-card-dark: #22272B;
    --pirsa-card-dark: rgba(34, 39, 43, .85);
    --pirsa-card-dark-hover: rgba(34, 39, 43, .95);

    /* Rounded Borders */
    --pirsa-border-radius: #{rem(32px)};
}