.nsw-wysiwyg-content {

    ul {
        padding-left: 2rem;
        li {
            list-style: initial;
        }
    }

    hr {
        background-color: var(--nsw-grey-03);
    }

    hr:has(+h2) {
        margin-top: 3rem;
    }

    .nsw-form__group {
        margin-top: 2rem;


        input[type="text"],
        textarea {
            width: 100%;
        }

        @include breakpoint('sm') {
            input[type="text"],
            textarea {
                width: 540px;
            }
        }
    }

}