.nsw-wysiwyg-content {

    ul {
        padding-left: 2rem;
        li {
            list-style: initial;
        }
    }

    hr {
        background-color: var(--nsw-grey-03);
    }

    hr:has(+h2) {
        margin-top: 3rem;
    }

    a {
        text-decoration: none;

        //only style link which does not have a span with icon
        &[target=_blank]:not(:has(span.material-icons)) { 
            &::after {
                content: "\e89e";
                font-family: "Material Icons";
                font-size: 1.25rem;
                font-weight: var(--nsw-font-normal);
                margin-left: .5rem;
                text-decoration: none;
                vertical-align: bottom;
            }
        }
    }
}