<div class="nsw-grid">
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/e2c92530b06bc7eaa79667f4da2dc4fd.jpg" alt="Commercial Fisheries">
            </div>
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a href="#">Commercial Fisheries</a>
              </div>
              <div class="nsw-card__copy">
                <p>Get the required information for commercial fisheries working in SA waters, plus the latest on cost recovery from industry.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/a37299c572f77a2295a4f16504905db6.jpg" alt="Commercial Size Limits">
            </div>
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a href="fishing-limits-search.html">Commercial Size Limits</a>
              </div>
              <div class="nsw-card__copy">
                <p>Check the commercial fishing size limits for all applicable fish species in South Australia.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/c0f385484438be3543380f4e6f4469d5.jpg" alt="Fish Processing">
            </div>
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a href="#">Fish Processing</a>
              </div>
              <div class="nsw-card__copy">
                <p>Find out about the rules and regulations that apply to fish processing in SA, as well as registration requirements.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/fd02eef87d0d9ff639a226efe312ac84.jpg" alt="Fisheries Management">
            </div>
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a href="#">Fisheries Management</a>
              </div>
              <div class="nsw-card__copy">
                <p>See the latest notices to fishers, determinations, management plans, policies and reports, as well as fisheries allocations.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/e6501c2c56f8bbf88a22acc5dae4d6a5.jpg" alt="Licensing and Registration">
            </div>
            <div class="nsw-card__content">

              <div class="nsw-card__title">
                <a href="#">Licensing and Registration</a>
              </div>
              <div class="nsw-card__copy">
                <p>Get license and registration forms, and information on demerit points and quote trading. Learn about the vessel monitoring system for commercial fishers.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/d21471b024400859b781a0be7e7849ce.jpg" alt="Permits and Exemptions">
            </div>
            <div class="nsw-card__content">

              <div class="nsw-card__title">
                <a href="#">Permits and Exemptions</a>
              </div>
              <div class="nsw-card__copy">
                <p>Apply for Ministerial permits and exemptions, exploratory and development permits, and broodstock and seedstock permits.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
  </div>