<div class="nsw-grid">

    <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
      <div class="pirsa-card nsw-card--horizontal">
        <div class="nsw-card__image">
          <img src="image/cards/f131cfeae466470e303a8d81a6fecc1c.jpg" alt="Seafood Growth Strategy">
        </div>
        <div class="nsw-card__content">
          <div class="nsw-card__title">
            <a href="#">Seafood Growth Strategy</a>
          </div>
          <div class="nsw-card__copy">
            <p>The Seafood Growth Strategy is a 10-year plan that aims to drive growth and opportunities for a sustainable and profitable seafood sector in South Australia.</p>
            <a href="#" class="nsw-button nsw-button--dark pirsa-button--rounded nsw-m-top-sm nsw-m-right-sm">Learn more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
      <div class="pirsa-card nsw-card--headline">
        <div class="nsw-card__content pirsa-section">
          <div class="nsw-card__title">
            <a href="#">Fishwatch Hotline</a>
          </div>
          <div class="nsw-card__copy">
            <p>Call the Fishwatch Hotline for information about:</p>
              <ul>
                <li>rules and regulations</li>
                <li>licensing and registration</li>
                <li>reporting shark sightings</li>
              </ul>
              <p><strong>24 hours a day, 7 days a week</strong></p>
              <a href="#" class="nsw-button nsw-button--dark pirsa-button--rounded nsw-m-top-sm nsw-m-right-sm">Freecall 1800 065 522</a>
              <a href="#" class="nsw-button nsw-button--dark pirsa-button--rounded nsw-m-top-sm nsw-m-right-sm">Go to reporting (Fishwatch)</a>
          </div>
        </div>
      </div>
    </div>

  </div>