<div class="nsw-grid">

    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
      <div class="nsw-card">
        <div class="nsw-card__image">
          <img src="https://picsum.photos/id/292/400/200" alt="Nominations open for Green Globe Awards 2019">
        </div>
        <div class="nsw-card__content">
          <div class="nsw-card__tag">Community</div>
          <div class="nsw-card__date">
            <time datetime="2019-03-09">April 08, 2025</time>
          </div>
          <div class="nsw-card__title">
            <a href="#">Nominations open for Green Globe Awards 2019</a>
          </div>
          <div class="nsw-card__copy">
            <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
          </div>
          <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
        </div>
      </div>
    </div>

    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card">
          <div class="nsw-card__image">
            <img src="https://picsum.photos/id/292/400/200" alt="Nominations open for Green Globe Awards 2019">
          </div>
          <div class="nsw-card__content">
            <div class="nsw-card__tag">Community</div>
            <div class="nsw-card__date">
              <time datetime="2019-03-09">April 08, 2025</time>
            </div>
            <div class="nsw-card__title">
              <a href="#">Nominations open for Green Globe Awards 2019</a>
            </div>
            <div class="nsw-card__copy">
              <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
            </div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>

      <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card">
          <div class="nsw-card__image">
            <img src="https://picsum.photos/id/292/400/200" alt="Nominations open for Green Globe Awards 2019">
          </div>
          <div class="nsw-card__content">
            <div class="nsw-card__tag">Community</div>
            <div class="nsw-card__date">
              <time datetime="2019-03-09">April 08, 2025</time>
            </div>
            <div class="nsw-card__title">
              <a href="#">Nominations open for Green Globe Awards 2019</a>
            </div>
            <div class="nsw-card__copy">
              <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
            </div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>
      
      <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card">
          <div class="nsw-card__image">
            <img src="https://picsum.photos/id/292/400/200" alt="Nominations open for Green Globe Awards 2019">
          </div>
          <div class="nsw-card__content">
            <div class="nsw-card__tag">Community</div>
            <div class="nsw-card__date">
              <time datetime="2019-03-09">April 08, 2025</time>
            </div>
            <div class="nsw-card__title">
              <a href="#">Nominations open for Green Globe Awards 2019</a>
            </div>
            <div class="nsw-card__copy">
              <p>The annual awards will recognise individuals and organisations for their leadership , commitment and innovation in sustainability across NSW.</p>
            </div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>      
    
  </div>
  