
<div class="nsw-display-flex">
  <div class="nsw-flex-grow-1 nsw-align-self-center">
      <h3>Events</h3>
  </div>
  <div class="nsw-show-md">
      <a href="#" class="nsw-button nsw-button--dark-outline-solid pirsa-button--rounded">View all</a>  
  </div>          
</div>

<div class="nsw-grid">
    <div class="nsw-col nsw-col-sm-6 nsw-col-md-6 nsw-col-lg-3">
      <div class="nsw-card pirsa-card pirsa-card--light">
        <div class="nsw-card__image">
          <img src="image/pirsa/card-image.jpg" alt="South East Field Day 2025">
        </div>
        <div class="nsw-card__content">
          <div class="nsw-card__date">
            <time datetime="2019-03-09">7 APR</time> — <time datetime="2019-03-09">8 APR 2025</time>
          </div>
          <div class="nsw-card__title">
            <a href="#">South East Field Day 2025</a>
          </div>
          <div class="nsw-card__copy">
            <p>The South East Field Days are a family friendly event – bring everyone and have a fantastic day exploring agriculture equipment and displays.</p>
          </div>
          <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
        </div>
      </div>
    </div>

    <div class="nsw-col nsw-col-sm-6 nsw-col-md-6 nsw-col-lg-3">
      <div class="nsw-card pirsa-card pirsa-card--light">
        <div class="nsw-card__image">
            <img src="image/pirsa/card-image_1.jpg" alt="Karoonda Farm Fair – Murraylands">
          </div>
          <div class="nsw-card__content">
            <div class="nsw-card__date">
              <time datetime="2019-03-09">17 APR</time> — <time datetime="2019-03-09">18 APR 2025</time>
            </div>
            <div class="nsw-card__title">
              <a href="#">Karoonda Farm Fair – Murraylands</a>
            </div>
            <div class="nsw-card__copy">
              <p>The Karoonda Farm Fair and Show is an annual two-day event showcasing local, state and interstate farming and general interest products, services and events.</p>
            </div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>

      <div class="nsw-col nsw-col-sm-6 nsw-col-md-6 nsw-col-lg-3 nsw-show-md">
        <div class="nsw-card pirsa-card pirsa-card--light">
          <div class="nsw-card__image">
            <img src="image/pirsa/card-image_2.jpg" alt="Just A Farmer movie fundraiser for Rural Business Support – Adelaide">
          </div>
          <div class="nsw-card__content">
            <div class="nsw-card__date">
              <time datetime="2019-03-09">27 APR</time> — <time datetime="2019-03-09">28 APR 2025</time>
            </div>
            <div class="nsw-card__title">
              <a href="#">Just A Farmer movie fundraiser for Rural Business Support – Adelaide</a>
            </div>
            <div class="nsw-card__copy">
              <p>Join us for a screening of Just a Farmer, a compelling film that delves into the often-overlooked lives of our farmers, revealing their resilience, sacrifices...</p>
            </div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>
      
      <div class="nsw-col nsw-col-sm-6 nsw-col-md-6 nsw-col-lg-3 nsw-show-md">
        <div class="nsw-card pirsa-card pirsa-card--light">
          <div class="nsw-card__image">
            <img src="image/pirsa/card-image_3.jpg" alt="Nominations open for Green Globe Awards 2019">
          </div>
          <div class="nsw-card__content">
            <div class="nsw-card__date">
              <time datetime="2019-03-09">29 APR 2025</time>
            </div>
            <div class="nsw-card__title">
              <a href="#">Tasting Australia and Great Wine Capitals masterclass – Adelaide</a>
            </div>
            <div class="nsw-card__copy">
              <p>Join Great Wine Capitals for a special tasting masterclass hosted by colourful drinks writer and educator Katie Spain.</p>
            </div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>      
    
  </div>
  
  <div class="nsw-hide-md view-all-events">
    <a href="#" class="nsw-button nsw-button--dark-outline-solid pirsa-button--rounded">View all</a>  
</div>   