<div class="nsw-grid">
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card">
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a href="#">Digital reporting</a>
              </div>
              <div class="nsw-card__copy">
                <p>PIRSA fisheries and aquaculture is transitioning all quota-based fisheries to online catch reporting. Learn about eCatch or the Commercial Fishing SA app.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card">
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a href="#">Public register</a>
              </div>
              <div class="nsw-card__copy">
                <p>See the public register for information about commercial fishing authorities, licences, registrations, and the people or companies linked to them.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card">
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a href="#">Community consultations</a>
              </div>
              <div class="nsw-card__copy">
                <p>We consult with the community to help inform decisions, policies and programs, and better use of resources. Have your say on open consultations.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card">
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a href="#">Closures</a>
              </div>
              <div class="nsw-card__copy">
                <p>Get the latest on state fishing closures and aquatic reserves, including how they affect your commercial and recreational fishing activity in SA waters.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
  </div>