<form class="nsw-filters nsw-filters--down js-filters">
    <div class="nsw-filters__controls js-filters__count">
        <button>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">tune</span>
            <span>Filters</span>
            <span class="material-icons nsw-material-icons" focusable="false"
                aria-hidden="true">keyboard_arrow_down</span>
        </button>
    </div>
    <div class="nsw-filters__wrapper">
        <div class="nsw-filters__title">Filters</div>
        <div class="nsw-filters__list">
            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Habitat</legend>
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-habitat"
                            value="All" id="filters-instant-habitat-0-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-habitat-0-7">All habitats</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-habitat" value="Freshwater"
                            id="filters-instant-habitat-1-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-habitat-1-7">Freshwater</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-habitat"
                            value="Marine" id="filters-instant-habitat-2-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-habitat-2-7">Marine</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-habitat"
                            value="Reservoir" id="filters-instant-habitat-3-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-habitat-3-7">Reservoir</label>

                    </fieldset>
                </div>
            </div>
            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Limits and protections</legend>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-limits-protections" value="Closures or protections apply" id="filters-limits-protections-0-1">
                        <label class="nsw-form__checkbox-label" for="filters-limits-protections-0-1">Closures or protections apply</label>
            
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-limits-protections" value="Do not release" id="filters-limits-protections-0-2">
                        <label class="nsw-form__checkbox-label" for="filters-limits-protections-0-2">Do not release</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-limits-protections" value="Limits apply" id="filters-limits-protections-0-3">
                        <label class="nsw-form__checkbox-label" for="filters-limits-protections-0-3">Limits apply</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-limits-protections" value="Reservoir limits apply" id="filters-limits-protections-0-4">
                        <label class="nsw-form__checkbox-label" for="filters-limits-protections-0-4">Reservoir limits apply</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-limits-protections" value="Take only what you need" id="filters-limits-protections-0-5">
                        <label class="nsw-form__checkbox-label" for="filters-limits-protections-0-5">Take only what you need</label>

                    </fieldset>
                </div>
            </div>
            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Species type</legend>

                    </fieldset>
                </div>
            </div>

            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Environmental impact</legend>

                    </fieldset>
                </div>
            </div>

            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Significance</legend>

                    </fieldset>
                </div>
            </div>            
            


        </div>
        <div class="nsw-filters__accept">
            <button type="submit" class="nsw-button nsw-button--dark nsw-button--full-width pirsa-button--rounded">Apply
                filters</button>
        </div>
        <div class="nsw-filters__cancel">
            <button type="reset">Clear all filters</button>
        </div>
    </div>
</form>