  <div class="nsw-hero-banner nsw-hero-banner--dark nsw-hero-banner--wide pirsa-hero-banner">
    <div class="nsw-hero-banner__container">
        <div class="nsw-hero-banner__wrapper">
          <div class="nsw-hero-banner__content pirsa-hero-banner__content">
            <h1>Helping you deliver great government services</h1>
            <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
            <div class="nsw-hero-banner__button"><button type="button" class="nsw-button nsw-button--white js-youtube-button__playpause" data-youtube-frameid="js-youtubeid_xCJRVTBEyms" data-button-state="pause">Pause</button></div>
          </div>
        </div>
      </div>    
    <div class="pirsa-hero-banner__video">
        <div class="nsw-media__video">
            <iframe id="js-youtubeid_xCJRVTBEyms" src="https://www.youtube-nocookie.com/embed/xCJRVTBEyms?enablejsapi=1&disablekb=1&html5=1&controls=0&start=20&autoplay=1&mute=1&loop=1&modestbranding=1&rel=0" title="South Australia introduction video" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>