  <div class="nsw-hero-banner nsw-hero-banner--dark nsw-hero-banner--wide pirsa-hero-banner pirsa-hero-banner--video">
    <div class="nsw-hero-banner__container">
        <div class="nsw-container nsw-hero-banner__wrapper pirsa-hero-banner__wrapper">
          <div class="nsw-hero-banner__content pirsa-hero-banner__content">
            <h1 class="nsw-h2 nsw-border--bottom nsw-border--brand-light pirsa-display-width-fit-content">SARDI</h1>
            <p>South Australian Research and Development Institute</p>
            <div class="nsw-h1 nsw-m-top-xl">Addressing real-world challenges</div>
            <div class="nsw-hero-banner__button nsw-show-sm"><button type="button" class="material-icons nsw-material-icons js-video-button__playpause" data-video-frameid="js-youtubeid_xCJRVTBEyms" data-button-state="pause" data-button-type="material" focusable="false" aria-hidden="true">pause</button></div>
            <div class="pirsa-hero-banner__logo"><img src="image/SARDI-Colour-logo.svg" alt="South Australian Research and Development Institute (SARDI) logo"></div>
          </div>
        </div>
      </div>    
    <div class="pirsa-hero-banner__video">
        <div class="nsw-media__video">
            <iframe id="js-youtubeid_xCJRVTBEyms" data-video-source="youtube" src="https://www.youtube-nocookie.com/embed/xCJRVTBEyms?enablejsapi=1&disablekb=1&html5=1&controls=0&start=20&autoplay=1&mute=1&loop=1&modestbranding=1&rel=0" title="South Australia introduction video" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div> 