   <div class="nsw-hero-banner nsw-hero-banner--dark nsw-hero-banner--wide pirsa-hero-banner pirsa-hero-banner--video">
    <div class="pirsa-page-banner__overlay">
      <div class="nsw-hero-banner__container">
          <div class="nsw-container nsw-hero-banner__wrapper pirsa-hero-banner__wrapper">
            <div class="nsw-hero-banner__content pirsa-hero-banner__content">
              <h1>Video</h1>
              <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
              <div class="nsw-hero-banner__button"><button type="button" class="nsw-button nsw-button--white js-video-button__playpause" data-video-frameid="js-video-pirsa-hero" data-button-state="pause">Pause</button></div>
            </div>
          </div>
        </div>    
      <div class="pirsa-hero-banner__video">
          <div class="nsw-media__video">
              <video id="js-video-pirsa-hero" data-video-source="video" title="South Australia PIRSA video" autoplay muted loop><source src="image/pirsa/pirsa_sequence.mp4" type="video/mp4"></video>
          </div>
      </div>
    </div>
  </div>