   <div class="nsw-hero-banner nsw-hero-banner--dark nsw-hero-banner--wide pirsa-hero-banner">
    <div class="nsw-hero-banner__container">
        <div class="nsw-container nsw-hero-banner__wrapper pirsa-hero-banner__wrapper">
          <div class="nsw-hero-banner__content pirsa-hero-banner__content">
            <div class="nsw-m-bottom-md">
              <h1>Department of Primary Industries and Regions</h1>
              <p>Advancing SA’s primary industries and regional communities.</p>
            </div>

            <div class="nsw-show-md">
              <!-- <include src="partials/searchbar.html"></include> -->
              <form role="search" class="hero-search__form">
                <label class="sr-only nsw-form__label" for="form-input-group-md">Search site for:</label>
                <div class="nsw-form__input-group pirsa-searchbar">
                  <input class="nsw-form__input" type="text" id="form-input-group-md" name="form-input-group-md" value="" placeholder="Search for information and services">
                  <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit">
                      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</span><span class="sr-only">Search</span>                 
                  </button>
                </div>
              </form>

              <p><strong>Hot topics</strong></p>
              <div class="nsw-list nsw-list--8 nsw-m-top-xs">
                <a href="#" class="nsw-tag pirsa-tag">Fruit fly outbreak map</a>
                <a href="#" class="nsw-tag pirsa-tag">Fishing limits</a>
                <a href="#" class="nsw-tag pirsa-tag">Abalone disease</a>
                <a href="#" class="nsw-tag pirsa-tag">Snapper recovery</a>
                <a href="#" class="nsw-tag pirsa-tag">Plant pests</a>
                <a href="#" class="nsw-tag pirsa-tag">Tomato virus</a>
                <a href="#" class="nsw-tag pirsa-tag">Drought support</a>
              </div> 
            </div>

          </div>
          <div class="nsw-hero-banner__button nsw-show-sm"><button type="button" class="material-icons nsw-material-icons js-video-button__playpause" data-video-frameid="js-video-pirsa-hero" data-button-state="pause" data-button-type="material" focusable="false" aria-hidden="true">pause</button></div>
        </div>
      </div>    
    <div class="pirsa-hero-banner__video">
        <div class="nsw-media__video">
          <video id="js-video-pirsa-hero" data-video-source="video" title="South Australia PIRSA video" autoplay muted loop><source src="image/pirsa/pirsa_sequence.mp4" type="video/mp4"></video>
        </div>
    </div>
  </div>

  <section class="nsw-section pirsa-section nsw-hide-md">
    <div class="nsw-container">
      <!-- <include src="partials/searchbar.html"></include> -->
      <form role="search" class="hero-search__form">
        <label class="sr-only nsw-form__label" for="form-input-group-sm">Search site for:</label>
        <div class="nsw-form__input-group pirsa-searchbar">
          <input class="nsw-form__input" type="text" id="form-input-group-sm" name="form-input-group-sm" value="" placeholder="Search for information and services">
          <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</span><span class="sr-only">Search</span>                 
          </button>
        </div>
      </form>     

      <p><strong>Hot topics</strong></p>
      <div class="nsw-list nsw-list--8 nsw-m-top-xs">
        <a href="#" class="nsw-tag pirsa-tag">Fruit fly outbreak map</a>
        <a href="#" class="nsw-tag pirsa-tag">Fishing limits</a>
        <a href="#" class="nsw-tag pirsa-tag">Abalone disease</a>
        <a href="#" class="nsw-tag pirsa-tag">Snapper recovery</a>
        <a href="#" class="nsw-tag pirsa-tag">Plant pests</a>
        <a href="#" class="nsw-tag pirsa-tag">Tomato virus</a>
        <a href="#" class="nsw-tag pirsa-tag">Drought support</a>
      </div> 
    </div>
</section>