   <div class="nsw-hero-banner nsw-hero-banner--dark nsw-hero-banner--wide pirsa-hero-banner pirsa-hero-banner--image" style="background-image: url(image/sardi/Hero.jpg);">
     <div class="pirsa-page-banner__overlay">
        <div class="nsw-hero-banner__container">
          <div class="nsw-container nsw-hero-banner__wrapper pirsa-hero-banner__wrapper">
            <div class="nsw-hero-banner__content pirsa-hero-banner__content">
              <h1>Image</h1>
              <p class="nsw-intro">Find the building blocks for creating user-centred digital services, as well as policy, tools and guidance</p>
            </div>
          </div>
        </div>    
      </div>
    </div>