<div class="nsw-grid">

    <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card pirsa-info-card--fill pirsa-info-card--full-height pirsa-info-card--border">
            <div class="pirsa-info-card__icon">
                <img src="https://pir.sa.gov.au/__data/assets/file/0012/477669/icon-illustration-green.svg"
                    alt="Improved productivity in a changing climate.">
            </div>
            <div class="pirsa-info-card__content">
                Improved productivity in a changing climate.
            </div>
        </div>
    </div>

    <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card pirsa-info-card--fill pirsa-info-card--full-height pirsa-info-card--border">
            <div class="pirsa-info-card__icon">
                <img src="https://pir.sa.gov.au/__data/assets/file/0007/477664/icon-bottle-green.svg"
                    alt="Increase value of exported products.">
            </div>
            <div class="pirsa-info-card__content">
                Increase value of exported products.
            </div>
        </div>
    </div>

    <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card pirsa-info-card--fill pirsa-info-card--full-height pirsa-info-card--border">
            <div class="pirsa-info-card__icon">
                <img src="https://pir.sa.gov.au/__data/assets/file/0004/477661/icon-ant-green.svg"
                    alt="Enhanced biosecurity preparedness and management.">
            </div>
            <div class="pirsa-info-card__content">
                Enhanced biosecurity preparedness and management.
            </div>
        </div>
    </div>

    <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card pirsa-info-card--fill pirsa-info-card--full-height pirsa-info-card--border">
            <div class="pirsa-info-card__icon">
                <img src="https://pir.sa.gov.au/__data/assets/file/0010/477676/icon-rain-green.svg"
                    alt="Sustainable management of natural resources that underpin primary production.">
            </div>
            <div class="pirsa-info-card__content">
                Sustainable management of natural resources that underpin primary production.
            </div>
        </div>
    </div>

    <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card pirsa-info-card--fill pirsa-info-card--full-height pirsa-info-card--border">
            <div class="pirsa-info-card__icon">
                <img src="https://pir.sa.gov.au/__data/assets/file/0011/477668/icon-handshake-green.svg"
                    alt="New partnerships and business models.">
            </div>
            <div class="pirsa-info-card__content">
                New partnerships and business models.
            </div>
        </div>
    </div>


    <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card pirsa-info-card--fill pirsa-info-card--full-height pirsa-info-card--border">
            <div class="pirsa-info-card__icon">
                <img src="https://pir.sa.gov.au/__data/assets/file/0005/477671/icon-people-support-green.svg"
                    alt="Supporting and valuing our people.">
            </div>
            <div class="pirsa-info-card__content">
                Supporting and valuing our people.
            </div>
        </div>
    </div>


    <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card pirsa-info-card--fill pirsa-info-card--full-height pirsa-info-card--border">
            <div class="pirsa-info-card__icon">
                <img src="https://pir.sa.gov.au/__data/assets/file/0010/477667/icon-hand-grow-green.svg"
                    alt="Impact through adoption.">
            </div>
            <div class="pirsa-info-card__content">
                Impact through adoption.
            </div>
        </div>
    </div>


    <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--small pirsa-info-card--full-height nsw-card--dark">
            <div class="nsw-card__content">
                <div class="nsw-card__title">
                    <a href="https://pir.sa.gov.au/__data/assets/pdf_file/0004/300856/sardi-strategic-plan.pdf"><strong>View
                            the full SARDI Strategic Plan 2023 – 28 report</strong></a>
                </div><span class="material-icons nsw-material-icons notranslate" focusable="false"
                    aria-hidden="true">arrow_forward</span>
            </div>
        </div>
    </div>


</div>
