<div class="nsw-grid">

    <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card">
          <div class="pirsa-info-card__icon">
            <img src="image/icon-illustration-green.svg" alt="Improved productivity in a changing climate">
          </div>
          <div class="pirsa-info-card__content">
              Improved productivity in a changing climate.
          </div>
        </div>
      </div>

      <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card">
          <div class="pirsa-info-card__icon">
            <img src="image/icon-bottle-green.svg" alt="Increase value of exported products">
          </div>
          <div class="pirsa-info-card__content">
              Increase value of exported products.
          </div>
        </div>
      </div>
      
      <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card">
          <div class="pirsa-info-card__icon">
            <img src="image/icon-ant-green.svg" alt="Enhanced biosecurity preparedness and management">
          </div>
          <div class="pirsa-info-card__content">
              Enhanced biosecurity preparedness and management.
          </div>
        </div>
      </div>
      
      <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card">
          <div class="pirsa-info-card__icon">
            <img src="image/icon-rain-green.svg" alt="Sustainable management of natural resources that underpin primary production.">
          </div>
          <div class="pirsa-info-card__content">
              Sustainable management of natural resources that underpin primary production.
          </div>
        </div>
      </div>      


      <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card">
          <div class="pirsa-info-card__icon">
            <img src="image/icon-handshake-green.svg" alt="New partnerships and business models.">
          </div>
          <div class="pirsa-info-card__content">
            New partnerships and business models.
          </div>
        </div>
      </div>

      <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card">
          <div class="pirsa-info-card__icon">
            <img src="image/icon-people-support-green.svg" alt="Supporting and valuing our people.">
          </div>
          <div class="pirsa-info-card__content">
            Supporting and valuing our people.
          </div>
        </div>
      </div>
      
      <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="pirsa-info-card">
          <div class="pirsa-info-card__icon">
            <img src="image/icon-hand-grow-green.svg" alt="Impact through adoption.">
          </div>
          <div class="pirsa-info-card__content">
            Impact through adoption.
          </div>
        </div>
      </div>
      
      <div class="nsw-col nsw-col-sm-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--small nsw-card--dark">
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a href="#">View the full SARDI Strategic Plan 2023 – 28 report</a>
              </div>
            </div>
          </div>
      </div>         




  </div>
  