<div class="nsw-grid">

    <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
        <div class="nsw-card pirsa-large-card" style="background-image:url('https://picsum.photos/id/18/720')">
            <div class="nsw-card__content">
                <div class="nsw-card__title">
                    <a href="#">Stop the spread of abalone disease</a>
                </div>
                <div class="nsw-card__copy">
                    <p>Check, clean and dry all fishing and marine equipment.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>

    <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
        <div class="nsw-card pirsa-large-card" style="background-image:url('https://picsum.photos/id/65/720')">
            <div class="nsw-card__content">
                <div class="nsw-card__title">
                    <a href="#">AgriFutures Rural Women’s Award</a>
                </div>
                <div class="nsw-card__copy">
                    <p>2025 SA Finalist announced.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>

    <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
        <div class="nsw-card pirsa-large-card" style="background-image:url('https://picsum.photos/id/85/720')">
            <div class="nsw-card__content">
                <div class="nsw-card__title">
                    <a href="#">Drought resilience and support</a>
                </div>
                <div class="nsw-card__copy">
                    <p>Information and resources for primary producers.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>                 

    <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
        <div class="nsw-card pirsa-large-card" style="background-image:url('https://picsum.photos/id/165/720')">
            <div class="nsw-card__content">
                <div class="nsw-card__title">
                    <a href="#">Latest crop and pasture report</a>
                </div>
                <div class="nsw-card__copy">
                    <p>2024-2025 crop performance summary.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div> 

</div>