<div class="nsw-grid">

    <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
        <div class="nsw-card pirsa-large-card" style="background-image:url('image/cards/b93f85528956e7b2053dee05eb335fc4.jpg')">
            <div class="nsw-card__content">
                <div class="nsw-card__title">
                    <a href="#">Climate Change</a>
                </div>
                <div class="nsw-card__copy">
                    <p>We work across government, with industry, and regions, to help the state build resilience and respond to the changing climate.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>

    <div class="nsw-col nsw-col-md-6 nsw-col-lg-6">
        <div class="nsw-card pirsa-large-card" style="background-image:url('image/cards/f3a35184ab14498633493259dcbe862b.jpg')">
            <div class="nsw-card__content">
                <div class="nsw-card__title">
                    <a href="#">History of Agriculture in SA</a>
                </div>
                <div class="nsw-card__copy">
                    <p>From the early days of colonisation, agriculture supported the state's economy through food and fibre used for domestic and international markets.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>

</div>