<nav class="nsw-main-nav js-mega-menu" id="main-nav" aria-label="Main menu">

  <div class="nsw-main-nav__wrapper">
     
      <div class="nsw-main-nav__header">
        <div class="nsw-main-nav__title">Main Menu</div>
        <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
          <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
          <span class="sr-only">Close Menu</span>
        </button>
      </div>

<ul class="nsw-main-nav__list">

    <li>
        <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-3" class="{{ mainNavItem1Class }}">
            <span>Outbreak map</span>
        </a>
    </li>

    <!-- <li>
        <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-1" class="{{ mainNavItem2Class }}">
            <span>Outbreak restrictions</span>
            <span class="material-icons nsw-material-icons" focusable="false"
                aria-hidden="true">keyboard_arrow_right</span>
        </a>

        <div class="nsw-main-nav__sub-nav" id="sub-nav-1" role="region" aria-label="Outbreak restrictions submenu">
            <div class="nsw-main-nav__header">
                <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button"
                    aria-expanded="true" aria-controls="sub-nav-1">
                    <span class="material-icons nsw-material-icons" focusable="false"
                        aria-hidden="true">keyboard_arrow_left</span>
                    <span><span class="sr-only">Back to </span>Main Menu</span>
                </button>
                <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
                    <span class="sr-only">Close Menu</span>
                </button>
            </div>


            <div class="nsw-grid nsw-main-nav__sub-nav__mega-menu nsw-display-none nsw-display-lg-flex">
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <h3><a href="#">Outbreak restrictions</a></h3>
                    <p class="nsw-main-nav__sub-nav__mega-menu--padding">Information on affected areas and what you can
                        and can’t do.</p>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Red area</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links"></ul>
                    </div>
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Yellow area</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links"></ul>
                    </div>
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Green area</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links"></ul>
                    </div>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Outbreaks explained</a>
                        </div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links"></ul>
                    </div>
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Restricted fruit &amp;
                                vegetables</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links"></ul>
                    </div>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Fruit &amp; vegetables
                                without restriction</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links"></ul>
                    </div>
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Disposing of fruit &amp;
                                vegetable waste</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links"></ul>
                    </div>
                </div>
            </div>


            <ul class="nsw-main-nav__sub-list nsw-display-block nsw-display-lg-none">
                <li class="parent-title"><a href="#">Outbreak restrictions</a></li>
                <li><a href="#">Red area</a></li>
                <li><a href="#">Yellow area</a></li>
                <li><a href="#">Green area</a></li>
                <li><a href="#">Outbreaks explained</a></li>
                <li><a href="#">Restricted fruit &amp; vegetables</a></li>
                <li><a href="#">Fruit &amp; vegetables without restriction</a></li>
                <li><a href="#">Disposing of fruit &amp; vegetable waste</a></li>
            </ul>
        </div>
    </li> -->

    <!-- 3) Travel restrictions -->
    <li>
        <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-4" class="{{ mainNavItem3Class }}">
            <span>Travel restrictions</span>
            <span class="material-icons nsw-material-icons" focusable="false"
                aria-hidden="true">keyboard_arrow_right</span>
        </a>

        <div class="nsw-main-nav__sub-nav" id="sub-nav-4" role="region" aria-label="Travel restrictions submenu">
            <div class="nsw-main-nav__header">
                <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button"
                    aria-expanded="true" aria-controls="sub-nav-4">
                    <span class="material-icons nsw-material-icons" focusable="false"
                        aria-hidden="true">keyboard_arrow_left</span>
                    <span><span class="sr-only">Back to </span>Main Menu</span>
                </button>
                <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
                    <span class="sr-only">Close Menu</span>
                </button>
            </div>

            <!-- DESKTOP ONLY MEGA MENU -->
            <div class="nsw-grid nsw-main-nav__sub-nav__mega-menu nsw-display-none nsw-display-lg-flex">
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <h3><a href="#">Travel restrictions</a></h3>
                    <p class="nsw-main-nav__sub-nav__mega-menu--padding">What travellers need to know for SA and the
                        Riverland.</p>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Travelling to South Australia</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links"></ul>
                    </div>
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Travelling to the Riverland</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links"></ul>
                    </div>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Riverland produce shopping options</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links"></ul>
                    </div>
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Find a quarantine station or disposal bin</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links"></ul>
                    </div>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3"></div>
            </div>

            <!-- MOBILE ONLY SUB NAV -->
            <ul class="nsw-main-nav__sub-list nsw-display-block nsw-display-lg-none">
                <li class="parent-title"><a href="#">Travel restrictions</a></li>
                <li><a href="#">Travelling to South Australia</a></li>
                <li><a href="#">Travelling to the Riverland</a></li>
                <li><a href="#">Riverland produce shopping options</a></li>
                <li><a href="#">Find a quarantine station or disposal bin</a></li>
            </ul>
        </div>
    </li>

    <!-- 4) Industry support -->
    <li>
        <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-5" class="{{ mainNavItem4Class }}">
            <span>Industry support</span>
            <span class="material-icons nsw-material-icons" focusable="false"
                aria-hidden="true">keyboard_arrow_right</span>
        </a>

        <div class="nsw-main-nav__sub-nav" id="sub-nav-5" role="region" aria-label="Industry support submenu">
            <div class="nsw-main-nav__header">
                <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button"
                    aria-expanded="true" aria-controls="sub-nav-5">
                    <span class="material-icons nsw-material-icons" focusable="false"
                        aria-hidden="true">keyboard_arrow_left</span>
                    <span><span class="sr-only">Back to </span>Main Menu</span>
                </button>
                <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
                    <span class="sr-only">Close Menu</span>
                </button>
            </div>

            <!-- DESKTOP ONLY MEGA MENU -->
            <div class="nsw-grid nsw-main-nav__sub-nav__mega-menu nsw-display-none nsw-display-lg-flex">
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <h3><a href="#">Industry support</a></h3>
                    <p class="nsw-main-nav__sub-nav__mega-menu--padding">Guidance and requirements for businesses
                        handling produce.</p>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Growers &amp;
                                producers</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                            <li><a href="#">Grower seasonal advice</a></li>
                            <li><a href="#">Treatment &amp; movement options</a></li>
                            <li><a href="#">Treatment options for metro outbreaks</a></li>
                            <li><a href="#">Selling to markets</a></li>
                            <li><a href="#">Moving &amp; storing produce</a></li>
                            <li><a href="#">Harvesting</a></li>
                            <li><a href="#">Transporting produce</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Retailers &amp;
                                wholesalers</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                            <li><a href="#">Retailers selling produce</a></li>
                            <li><a href="#">Markets, shed doors &amp; roadside sellers</a></li>
                        </ul>
                    </div>
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Prepare your business for an outbreak</a></div>
                    </div>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Riverland grower self-baiting program</a></div>
                    </div>
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Riverland grower SMS alerts</a></div>
                    </div>
                </div>
            </div>

            <!-- MOBILE ONLY SUB NAV -->
            <ul class="nsw-main-nav__sub-list nsw-display-block nsw-display-lg-none">
                <li class="parent-title"><a href="#">Industry support</a></li>
                <li>
                    <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-industry-growers">
                        <span>Growers &amp; producers</span>
                        <span class="material-icons nsw-material-icons" focusable="false"
                            aria-hidden="true">keyboard_arrow_right</span>
                    </a>
                    <div class="nsw-main-nav__sub-nav" id="sub-nav-industry-growers" role="region"
                        aria-label="Growers &amp; producers submenu">
                        <div class="nsw-main-nav__header">
                            <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button"
                                aria-expanded="true" aria-controls="sub-nav-industry-growers">
                                <span class="material-icons nsw-material-icons" focusable="false"
                                    aria-hidden="true">keyboard_arrow_left</span>
                                <span><span class="sr-only">Back to</span>Industry support</span>
                            </button>
                            <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                                <span class="material-icons nsw-material-icons" focusable="false"
                                    aria-hidden="true">close</span>
                                <span class="sr-only">Close Menu</span>
                            </button>
                        </div>
                        <ul class="nsw-main-nav__sub-list">
                            <li class="parent-title"><a href="#">Growers &amp; producers</a></li>
                            <li><a href="#">Grower seasonal advice</a></li>
                            <li><a href="#">Treatment &amp; movement options</a></li>
                            <li><a href="#">Treatment options for metro outbreaks</a></li>
                            <li><a href="#">Selling to markets</a></li>
                            <li><a href="#">Moving &amp; storing produce</a></li>
                            <li><a href="#">Harvesting</a></li>
                            <li><a href="#">Transporting produce</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-industry-retail">
                        <span>Retailers &amp; wholesalers</span>
                        <span class="material-icons nsw-material-icons" focusable="false"
                            aria-hidden="true">keyboard_arrow_right</span>
                    </a>
                    <div class="nsw-main-nav__sub-nav" id="sub-nav-industry-retail" role="region"
                        aria-label="Retailers &amp; wholesalers submenu">
                        <div class="nsw-main-nav__header">
                            <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button"
                                aria-expanded="true" aria-controls="sub-nav-industry-retail">
                                <span class="material-icons nsw-material-icons" focusable="false"
                                    aria-hidden="true">keyboard_arrow_left</span>
                                <span><span class="sr-only">Back to</span>Industry support</span>
                            </button>
                            <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                                <span class="material-icons nsw-material-icons" focusable="false"
                                    aria-hidden="true">close</span>
                                <span class="sr-only">Close Menu</span>
                            </button>
                        </div>
                        <ul class="nsw-main-nav__sub-list">
                            <li class="parent-title"><a href="#">Retailers &amp; wholesalers</a></li>
                            <li><a href="#">Retailers selling produce</a></li>
                            <li><a href="#">Markets, shed doors &amp; roadside sellers</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Prepare your business for an outbreak</a></li>
                <li><a href="#">Riverland grower self-baiting program</a></li>
                <li><a href="#">Riverland grower SMS alerts</a></li>
            </ul>
        </div>
    </li>

    <!-- 5) Prevent fruit fly -->
    <!-- <li>
        <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-6" class="{{ mainNavItem5Class }}">
            <span>Prevent fruit fly</span>
            <span class="material-icons nsw-material-icons" focusable="false"
                aria-hidden="true">keyboard_arrow_right</span>
        </a>

        <div class="nsw-main-nav__sub-nav" id="sub-nav-6" role="region" aria-label="Prevent fruit fly submenu">
            <div class="nsw-main-nav__header">
                <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button"
                    aria-expanded="true" aria-controls="sub-nav-6">
                    <span class="material-icons nsw-material-icons" focusable="false"
                        aria-hidden="true">keyboard_arrow_left</span>
                    <span><span class="sr-only">Back to </span>Main Menu</span>
                </button>
                <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
                    <span class="sr-only">Close Menu</span>
                </button>
            </div>


            <div class="nsw-grid nsw-main-nav__sub-nav__mega-menu nsw-display-none nsw-display-lg-flex">
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <h3><a href="#">Prevent fruit fly</a></h3>
                    <p class="nsw-main-nav__sub-nav__mega-menu--padding">How PIRSA prevents fruit fly and how you can
                        help.</p>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">PIRSA's prevention
                                methods</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                            <li><a href="#">Sterile insect technique (SIT)</a></li>
                            <li><a href="#">Safe treatments to stop fruit fly</a></li>
                            <li><a href="#">Protecting bees while baiting</a></li>
                            <li><a href="#">Fruit Fly Officer visits to gardens</a></li>
                            <li><a href="#">Community awareness</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Find and report fruit fly</a></div>
                    </div>
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Fruit fly biology</a></div>
                    </div>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Protect your home garden</a></div>
                    </div>
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Customer service charter</a></div>
                    </div>
                </div>
            </div>


            <ul class="nsw-main-nav__sub-list nsw-display-block nsw-display-lg-none">
                <li class="parent-title"><a href="#">Prevent fruit fly</a></li>
                <li>
                    <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-prevent-methods">
                        <span>PIRSA's prevention methods</span>
                        <span class="material-icons nsw-material-icons" focusable="false"
                            aria-hidden="true">keyboard_arrow_right</span>
                    </a>
                    <div class="nsw-main-nav__sub-nav" id="sub-nav-prevent-methods" role="region"
                        aria-label="PIRSA's prevention methods submenu">
                        <div class="nsw-main-nav__header">
                            <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button"
                                aria-expanded="true" aria-controls="sub-nav-prevent-methods">
                                <span class="material-icons nsw-material-icons" focusable="false"
                                    aria-hidden="true">keyboard_arrow_left</span>
                                <span><span class="sr-only">Back to</span>Prevent fruit fly</span>
                            </button>
                            <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                                <span class="material-icons nsw-material-icons" focusable="false"
                                    aria-hidden="true">close</span>
                                <span class="sr-only">Close Menu</span>
                            </button>
                        </div>
                        <ul class="nsw-main-nav__sub-list">
                            <li class="parent-title"><a href="#">PIRSA's prevention methods</a></li>
                            <li><a href="#">Sterile insect technique (SIT)</a></li>
                            <li><a href="#">Safe treatments to stop fruit fly</a></li>
                            <li><a href="#">Protecting bees while baiting</a></li>
                            <li><a href="#">Fruit Fly Officer visits to gardens</a></li>
                            <li><a href="#">Community awareness</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Find and report fruit fly</a></li>
                <li><a href="#">Fruit fly biology</a></li>
                <li><a href="#">Protect your home garden</a></li>
                <li><a href="#">Customer service charter</a></li>
            </ul>
        </div>
    </li> -->

    <!-- 6) News & resources -->
    <li>
        <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-7" class="{{ mainNavItem6Class }}">
            <span>News &amp; resources</span>
            <span class="material-icons nsw-material-icons" focusable="false"
                aria-hidden="true">keyboard_arrow_right</span>
        </a>

        <div class="nsw-main-nav__sub-nav" id="sub-nav-7" role="region" aria-label="News & resources submenu">
            <div class="nsw-main-nav__header">
                <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button"
                    aria-expanded="true" aria-controls="sub-nav-7">
                    <span class="material-icons nsw-material-icons" focusable="false"
                        aria-hidden="true">keyboard_arrow_left</span>
                    <span><span class="sr-only">Back to </span>Main Menu</span>
                </button>
                <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
                    <span class="sr-only">Close Menu</span>
                </button>
            </div>

            <!-- DESKTOP ONLY MEGA MENU -->
            <div class="nsw-grid nsw-main-nav__sub-nav__mega-menu nsw-display-none nsw-display-lg-flex">
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <h3><a href="#">News &amp; resources</a></h3>
                    <p class="nsw-main-nav__sub-nav__mega-menu--padding">Latest updates and community resources.</p>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Latest news</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links"></ul>
                    </div>
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Translated fruit fly
                                information</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                            <li><a href="#">Arabic</a></li>
                            <li><a href="#">Chinese (Simplified)</a></li>
                            <li><a href="#">Dari</a></li>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Greek</a></li>
                            <li><a href="#">Hindi</a></li>
                            <li><a href="#">Italian</a></li>
                            <li><a href="#">Persian</a></li>
                            <li><a href="#">Polish</a></li>
                            <li><a href="#">Punjabi</a></li>
                            <li><a href="#">Spanish</a></li>
                            <li><a href="#">Tagalog</a></li>
                            <li><a href="#">Vietnamese</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Resource kits</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                            <li><a href="#">Outbreak resource kit</a></li>
                            <li><a href="#">Riverland receipt resource kit</a></li>
                            <li><a href="#">Schools resource kit</a></li>
                            <li><a href="#">Travel industry SA quarantine resource kit</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                    <div class="nsw-main-nav__sub-nav__mega-menu__group">
                        <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Recipes</a></div>
                        <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                            <li><a href="#">Packing lunches</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- MOBILE ONLY SUB NAV -->
            <ul class="nsw-main-nav__sub-list nsw-display-block nsw-display-lg-none">
                <li class="parent-title"><a href="#">News &amp; resources</a></li>
                <li><a href="#">Latest news</a></li>
                <li>
                    <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-translated">
                        <span>Translated fruit fly information</span>
                        <span class="material-icons nsw-material-icons" focusable="false"
                            aria-hidden="true">keyboard_arrow_right</span>
                    </a>
                    <div class="nsw-main-nav__sub-nav" id="sub-nav-translated" role="region"
                        aria-label="Translated resources submenu">
                        <div class="nsw-main-nav__header">
                            <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button"
                                aria-expanded="true" aria-controls="sub-nav-translated">
                                <span class="material-icons nsw-material-icons" focusable="false"
                                    aria-hidden="true">keyboard_arrow_left</span>
                                <span><span class="sr-only">Back to</span>News &amp; resources</span>
                            </button>
                            <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                                <span class="material-icons nsw-material-icons" focusable="false"
                                    aria-hidden="true">close</span>
                                <span class="sr-only">Close Menu</span>
                            </button>
                        </div>
                        <ul class="nsw-main-nav__sub-list">
                            <li class="parent-title"><a href="#">Translated fruit fly information</a></li>
                            <li><a href="#">Arabic</a></li>
                            <li><a href="#">Chinese (Simplified)</a></li>
                            <li><a href="#">Dari</a></li>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Greek</a></li>
                            <li><a href="#">Hindi</a></li>
                            <li><a href="#">Italian</a></li>
                            <li><a href="#">Persian</a></li>
                            <li><a href="#">Polish</a></li>
                            <li><a href="#">Punjabi</a></li>
                            <li><a href="#">Spanish</a></li>
                            <li><a href="#">Tagalog</a></li>
                            <li><a href="#">Vietnamese</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-kits">
                        <span>Resource kits</span>
                        <span class="material-icons nsw-material-icons" focusable="false"
                            aria-hidden="true">keyboard_arrow_right</span>
                    </a>
                    <div class="nsw-main-nav__sub-nav" id="sub-nav-kits" role="region"
                        aria-label="Resource kits submenu">
                        <div class="nsw-main-nav__header">
                            <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button"
                                aria-expanded="true" aria-controls="sub-nav-kits">
                                <span class="material-icons nsw-material-icons" focusable="false"
                                    aria-hidden="true">keyboard_arrow_left</span>
                                <span><span class="sr-only">Back to</span>News &amp; resources</span>
                            </button>
                            <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                                <span class="material-icons nsw-material-icons" focusable="false"
                                    aria-hidden="true">close</span>
                                <span class="sr-only">Close Menu</span>
                            </button>
                        </div>
                        <ul class="nsw-main-nav__sub-list">
                            <li class="parent-title"><a href="#">Resource kits</a></li>
                            <li><a href="#">Outbreak resource kit</a></li>
                            <li><a href="#">Riverland receipt resource kit</a></li>
                            <li><a href="#">Schools resource kit</a></li>
                            <li><a href="#">Travel industry SA quarantine resource kit</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-recipes">
                        <span>Recipes</span>
                        <span class="material-icons nsw-material-icons" focusable="false"
                            aria-hidden="true">keyboard_arrow_right</span>
                    </a>
                    <div class="nsw-main-nav__sub-nav" id="sub-nav-recipes" role="region" aria-label="Recipes submenu">
                        <div class="nsw-main-nav__header">
                            <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button"
                                aria-expanded="true" aria-controls="sub-nav-recipes">
                                <span class="material-icons nsw-material-icons" focusable="false"
                                    aria-hidden="true">keyboard_arrow_left</span>
                                <span><span class="sr-only">Back to</span>News &amp; resources</span>
                            </button>
                            <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                                <span class="material-icons nsw-material-icons" focusable="false"
                                    aria-hidden="true">close</span>
                                <span class="sr-only">Close Menu</span>
                            </button>
                        </div>
                        <ul class="nsw-main-nav__sub-list">
                            <li class="parent-title"><a href="#">Recipes</a></li>
                            <li><a href="#">Packing lunches</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>

    <a href="tel:1300666010" class="nsw-button nsw-button--dark pirsa-button--rounded nav-phone-button">Phone 1300 666 010</a>
</ul>



    <div class="nsw-main-nav__mobile-extra-links nsw-hide-lg">
      <ul>
        <li><a class="menu-item" href="#">myPIRSA</a></li>
        <li><a class="menu-item" href="#">Contact</a></li>
        <li><a class="menu-item" href="#">About Us</a></li>
                <li class="nsw-form__group translate-mobile">
                    <label class="nsw-form__label" for="select-all-regions-1">Language</label>
                    <select class="nsw-form__select" name="select-all-regions-1" id="select-all-regions-1">
                        <option value="eng">Select Language</option>
                    </select>
                
                    <div class="translate__container">
                        <ul class="translate__languages nsw-small" id="translateMenu0" role="menu" aria-hidden="true" style="
                                        max-height: 50vh;
                                        position: relative;
                                        overflow-y: scroll;
                                        padding-left: 0;
                                    ">
                            <li role="none" translate="no">
                                <a id="language-english" data-language="en" href="https://www.sira.nsw.gov.au/consultations"
                                    role="menuitem" onclick="">English</a>
                            </li>
                            <li role="none">
                                <a data-language="af" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|af)"
                                    role="menuitem">Afrikaans (Afrikaans)</a>
                            </li>
                            <li role="none">
                                <a data-language="sq" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|sq)"
                                    role="menuitem">Albanian (shqip)</a>
                            </li>
                            <li role="none">
                                <a data-language="ar" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ar)"
                                    role="menuitem">Arabic (العربية)</a>
                            </li>
                            <li role="none">
                                <a data-language="hy" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|hy)"
                                    role="menuitem">Armenian (Հայերեն)</a>
                            </li>
                            <li role="none">
                                <a data-language="az" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|az)"
                                    role="menuitem">Azerbaijani (Azərbaycan)</a>
                            </li>
                            <li role="none">
                                <a data-language="eu" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|eu)"
                                    role="menuitem">Basque (Euskara)</a>
                            </li>
                            <li role="none">
                                <a data-language="be" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|be)"
                                    role="menuitem">Belarusian (Беларуская)</a>
                            </li>
                            <li role="none">
                                <a data-language="bn" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|bn)"
                                    role="menuitem">Bengali (বাংলা)</a>
                            </li>
                            <li role="none">
                                <a data-language="bs" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|bs)"
                                    role="menuitem">Bosnian (Bosanski)</a>
                            </li>
                            <li role="none">
                                <a data-language="bg" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|bg)"
                                    role="menuitem">Bulgarian (Български)</a>
                            </li>
                            <li role="none">
                                <a data-language="ca" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ca)"
                                    role="menuitem">Catalan (Català)</a>
                            </li>
                            <li role="none">
                                <a data-language="zh-CN" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|zh-CN)"
                                    role="menuitem">Chinese Simplified (简体中文)</a>
                            </li>
                            <li role="none">
                                <a data-language="zh-TW" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|zh-TW)"
                                    role="menuitem">Chinese Traditional (繁體中文)</a>
                            </li>
                            <li role="none">
                                <a data-language="hr" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|hr)"
                                    role="menuitem">Croatian (Hrvatski)</a>
                            </li>
                            <li role="none">
                                <a data-language="cs" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|cs)"
                                    role="menuitem">Czech (čeština)</a>
                            </li>
                            <li role="none">
                                <a data-language="da" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|da)"
                                    role="menuitem">Danish (Dansk)</a>
                            </li>
                            <li role="none">
                                <a data-language="nl" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|nl)"
                                    role="menuitem">Dutch (Nederlands)</a>
                            </li>
                            <li role="none">
                                <a data-language="et" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|et)"
                                    role="menuitem">Estonian (Eesti keel)</a>
                            </li>
                            <li role="none">
                                <a data-language="tl" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|tl)"
                                    role="menuitem">Filipino (Tagalog)</a>
                            </li>
                            <li role="none">
                                <a data-language="fi" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|fi)"
                                    role="menuitem">Finnish (Suomi)</a>
                            </li>
                            <li role="none">
                                <a data-language="fr" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|fr)"
                                    role="menuitem">French (Français)</a>
                            </li>
                            <li role="none">
                                <a data-language="gl" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|gl)"
                                    role="menuitem">Galician (Galego)</a>
                            </li>
                            <li role="none">
                                <a data-language="ka" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ka)"
                                    role="menuitem">Georgian (ქართული)</a>
                            </li>
                            <li role="none">
                                <a data-language="de" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|de)"
                                    role="menuitem">German (Deutsch)</a>
                            </li>
                            <li role="none">
                                <a data-language="el" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|el)"
                                    role="menuitem">Greek (Ελληνικά)</a>
                            </li>
                            <li role="none">
                                <a data-language="gu" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|gu)"
                                    role="menuitem">Gujarati (ગુજરાતી)</a>
                            </li>
                            <li role="none">
                                <a data-language="ht" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ht)"
                                    role="menuitem">Haitian Creole (Kreyòl ayisyen)</a>
                            </li>
                            <li role="none">
                                <a data-language="iw" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|iw)"
                                    role="menuitem">Hebrew (עברית)</a>
                            </li>
                            <li role="none">
                                <a data-language="hi" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|hi)"
                                    role="menuitem">Hindi (हिन्दी)</a>
                            </li>
                            <li role="none">
                                <a data-language="hu" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|hu)"
                                    role="menuitem">Hungarian (Magyar)</a>
                            </li>
                            <li role="none">
                                <a data-language="is" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|is)"
                                    role="menuitem">Icelandic (íslenska)</a>
                            </li>
                            <li role="none">
                                <a data-language="id" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|id)"
                                    role="menuitem">Indonesian (Bahasa Indonesia)</a>
                            </li>
                            <li role="none">
                                <a data-language="ga" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ga)"
                                    role="menuitem">Irish (Gaeilge)</a>
                            </li>
                            <li role="none">
                                <a data-language="it" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|it)"
                                    role="menuitem">Italian (Italiano)</a>
                            </li>
                            <li role="none">
                                <a data-language="ja" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ja)"
                                    role="menuitem">Japanese (日本語)</a>
                            </li>
                            <li role="none">
                                <a data-language="km" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|km)"
                                    role="menuitem">Khmer (ខ្មែរ)</a>
                            </li>
                            <li role="none">
                                <a data-language="ko" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ko)"
                                    role="menuitem">Korean (한국어)</a>
                            </li>
                            <li role="none">
                                <a data-language="ku" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ku)"
                                    role="menuitem">Kurdish - Kurmanji (Kurmancî)</a>
                            </li>
                            <li role="none">
                                <a data-language="ckb" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ckb)"
                                    role="menuitem">Kurdish - Sorani (سۆرانی)</a>
                            </li>
                            <li role="none">
                                <a data-language="lo" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|lo)"
                                    role="menuitem">Lao (ລາວ)</a>
                            </li>
                            <li role="none">
                                <a data-language="lv" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|lv)"
                                    role="menuitem">Latvian (Latviešu)</a>
                            </li>
                            <li role="none">
                                <a data-language="lt" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|lt)"
                                    role="menuitem">Lithuanian (Lietuvių)</a>
                            </li>
                            <li role="none">
                                <a data-language="mk" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|mk)"
                                    role="menuitem">Macedonian (Mакедонски)</a>
                            </li>
                            <li role="none">
                                <a data-language="ms" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ms)"
                                    role="menuitem">Malay (Bahasa Melayu)</a>
                            </li>
                            <li role="none">
                                <a data-language="ml" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ml)"
                                    role="menuitem">Malayalam (മലയാളം)</a>
                            </li>
                            <li role="none">
                                <a data-language="mt" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|mt)"
                                    role="menuitem">Maltese (Malti)</a>
                            </li>
                            <li role="none">
                                <a data-language="mr" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|mr)"
                                    role="menuitem">Marathi (मराठी)</a>
                            </li>
                            <li role="none">
                                <a data-language="mn" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|mn)"
                                    role="menuitem">Mongolian (Монгол)</a>
                            </li>
                            <li role="none">
                                <a data-language="ne" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ne)"
                                    role="menuitem">Nepali (नेपाली)</a>
                            </li>
                            <li role="none">
                                <a data-language="no" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|no)"
                                    role="menuitem">Norwegian (Norsk)</a>
                            </li>
                            <li role="none">
                                <a data-language="fa" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|fa)"
                                    role="menuitem">Persian (فارسی)</a>
                            </li>
                            <li role="none">
                                <a data-language="pl" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|pl)"
                                    role="menuitem">Polish (Polski)</a>
                            </li>
                            <li role="none">
                                <a data-language="pt" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|pt)"
                                    role="menuitem">Portuguese (Português)</a>
                            </li>
                            <li role="none">
                                <a data-language="pa" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|pa)"
                                    role="menuitem">Punjabi (ਪੰਜਾਬੀ)</a>
                            </li>
                            <li role="none">
                                <a data-language="ro" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ro)"
                                    role="menuitem">Romanian (Română)</a>
                            </li>
                            <li role="none">
                                <a data-language="ru" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ru)"
                                    role="menuitem">Russian (Pусский)</a>
                            </li>
                            <li role="none">
                                <a data-language="sr" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|sr)"
                                    role="menuitem">Serbian (српски)</a>
                            </li>
                            <li role="none">
                                <a data-language="si" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|si)"
                                    role="menuitem">Sinhala (සිංහල)</a>
                            </li>
                            <li role="none">
                                <a data-language="sk" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|sk)"
                                    role="menuitem">Slovak (Slovenčina)</a>
                            </li>
                            <li role="none">
                                <a data-language="sl" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|sl)"
                                    role="menuitem">Slovenian (Slovenščina)</a>
                            </li>
                            <li role="none">
                                <a data-language="es" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|es)"
                                    role="menuitem">Spanish (Español)</a>
                            </li>
                            <li role="none">
                                <a data-language="sw" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|sw)"
                                    role="menuitem">Swahili (Kiswahili)</a>
                            </li>
                            <li role="none">
                                <a data-language="sv" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|sv)"
                                    role="menuitem">Swedish (Svenska)</a>
                            </li>
                            <li role="none">
                                <a data-language="ta" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ta)"
                                    role="menuitem">Tamil (தமிழ்)</a>
                            </li>
                            <li role="none">
                                <a data-language="te" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|te)"
                                    role="menuitem">Telugu (తెలుగు)</a>
                            </li>
                            <li role="none">
                                <a data-language="th" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|th)"
                                    role="menuitem">Thai (ไทย)</a>
                            </li>
                            <li role="none">
                                <a data-language="tr" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|tr)"
                                    role="menuitem">Turkish (Türkçe)</a>
                            </li>
                            <li role="none">
                                <a data-language="uk" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|uk)"
                                    role="menuitem">Ukrainian (Українська)</a>
                            </li>
                            <li role="none">
                                <a data-language="ur" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ur)"
                                    role="menuitem">Urdu (اردو)</a>
                            </li>
                            <li role="none">
                                <a data-language="uz" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|uz)"
                                    role="menuitem">Uzbek (O‘zbek)</a>
                            </li>
                            <li role="none">
                                <a data-language="vi" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|vi)"
                                    role="menuitem">Vietnamese (Tiếng Việt)</a>
                            </li>
                            <li role="none">
                                <a data-language="cy" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|cy)"
                                    role="menuitem">Welsh (Cymraeg)</a>
                            </li>
                            <li role="none">
                                <a data-language="xh" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|xh)"
                                    role="menuitem">Xhosa (isiXhosa)</a>
                            </li>
                            <li role="none">
                                <a data-language="yi" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|yi)"
                                    role="menuitem">Yiddish (ייִדיש)</a>
                            </li>
                            <li role="none">
                                <a data-language="zu" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|zu)"
                                    role="menuitem">Zulu (isiZulu)</a>
                            </li>
                        </ul>
                    </div>
                </li>
      </ul>
    </div>


  </div>
</nav>