<nav class="nsw-main-nav js-mega-menu" id="main-nav" aria-label="Main menu">

  <div class="nsw-main-nav__wrapper">
     
      <div class="nsw-main-nav__header">
        <div class="nsw-main-nav__title">Menu</div>
        <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
          <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
          <span class="sr-only">Close Menu</span>
        </button>
      </div>

      <ul class="nsw-main-nav__list">

        <li>
          <a href="landing-page-1.html" role="button" aria-expanded="false" aria-controls="sub-nav-1">
            <span>Primary Industries</span>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
          </a>
      
          
          <div class="nsw-main-nav__sub-nav" id="sub-nav-1" role="region" aria-label="Primary Industries Submenu">
            <div class="nsw-main-nav__header">
              <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="true"
                aria-controls="sub-nav-1">
                <span class="material-icons nsw-material-icons" focusable="false"
                  aria-hidden="true">keyboard_arrow_left</span>
                <span>Back<span class="sr-only"> to previous menu</span></span>
              </button>

              <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
                <span class="sr-only">Close Menu</span>
              </button>
            </div>

            <div class="nsw-grid nsw-main-nav__sub-nav__mega-menu">
              <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                <h3><a href="landing-page-1.html">Primary Industries</a></h3>
                <p>The South Australian Research and Development Institute (SARDI) is the research arm of the Department of Primary Industries and Regions (PIRSA).
                </p>
              </div>
              <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Aquaculture</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Land-based aquaculture</a></li>
                    <li><a href="#">Marine aquaculture</a></li>
                    <li><a href="#">Monitoring &amp; assessment</a></li>
                    <li><a href="#">Leasing &amp; licensing</a></li>
                    <li><a href="#">Aquatic animal health</a></li>
                    <li><a href="#">Policy &amp; legislation</a></li>
                    <li><a href="#">Community consultation</a></li>
                    <li><a href="#">Publications</a></li>
                    <li><a href="#">Aquaculture contacts</a></li>
                  </ul>
                </div>
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Forestry</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">SA Wood Fibre and Timber Industry Master Plan</a></li>
                    <li><a href="#">Forestry Centre of Excellence</a></li>
                    <li><a href="#">Trees on Farms Initiative</a></li>
                    <li><a href="#">Mid North forests</a></li>
                    <li><a href="#">Forest Industries Advisory Council of SA</a></li>
                  </ul>
                </div>            
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Horticulture</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Citrus Growers Fund</a></li>
                    <li><a href="#">Alkaloid poppy production</a></li>
                  </ul>
                </div>               
              </div>
              <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="landing-page-2.html">Commercial fishing</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Commercial fisheries</a></li>
                    <li><a href="#">Commercial size limits</a></li>
                    <li><a href="#">Fish processing</a></li>
                    <li><a href="#">Fisheries management</a></li>
                    <li><a href="#">Licensing &amp; registration</a></li>
                    <li><a href="#">Online payments</a></li>
                    <li><a href="#">Permits &amp; exemptions</a></li>
                    <li><a href="#">Community consultations</a></li>
                    <li><a href="#">Public register</a></li>
                    <li><a href="#">Digital reporting</a></li>
                  </ul>
                </div>

                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Grains &amp; crops</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Grain Industry Funds</a></li>
                  <li><a href="#"> Crop &amp; pasture reports</a></li>
                    <li><a href="#">Genetically modified crops</a></li>
                    <li><a href="#">Grains Farm Biosecurity Program</a></li>
                    <li><a href="#">Industrial hemp</a></li>
                    <li><a href="#">Reducing smoke taint in grapes</a></li>
                  </ul>
                </div>               
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Livestock, wool &amp; dairy</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Apiary Industry Fund</a></li>
                    <li><a href="#">Cattle Industry Fund</a></li>
                    <li><a href="#">Pig Industry Fund</a></li>
                    <li><a href="#">Sheep Industry Fund</a></li>
                    <li><a href="#">Livestock movement</a></li>
                  </ul>
                </div>               
              </div>
              <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Food &amp; beverage</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">SA ambassadors</a></li>
                    <li><a href="#">Produce sectors</a></li>
                      <li><a href="#">SA advantages</a></li>
                    <li><a href="#">Culinary tourism</a></li>
                  </ul>
                </div>  
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Grape &amp; wine</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                  <li><a href="#"> Legislation</a></li>
                    <li><a href="#">Wine Industry Funds</a></li>
                    <li><a href="#">No and low (NOLO) alcohol wine</a></li>
                    <li><a href="#">Adelaide Great Wine Capital</a></li>
                  </ul>
                </div>  
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Climate change</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Government policies &amp; initiatives</a></li>
                    <li><a href="#">Carbon footprint</a></li>
                    <li><a href="#">Carbon farming</a></li>
                    <li><a href="#">Carbon Farming Demonstration Pilot</a></li>
                  </ul>
                </div>                          
              </div>
            </div>
          </div>
        </li>

        <li>
          <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-3">
            <span>Regions</span>
          </a>
        </li>

        <li>
          <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-4">
            <span>Biosecurity</span>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
          </a>
            
          <div class="nsw-main-nav__sub-nav" id="sub-nav-4" role="region" aria-label="Biosecurity Submenu">
            <div class="nsw-main-nav__header">
              <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="true"
                aria-controls="sub-nav-1">
                <span class="material-icons nsw-material-icons" focusable="false"
                  aria-hidden="true">keyboard_arrow_left</span>
                <span>Back<span class="sr-only"> to previous menu</span></span>
              </button>

              <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
                <span class="sr-only">Close Menu</span>
              </button>
            </div>

            <div class="nsw-grid nsw-main-nav__sub-nav__mega-menu">
              <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                <h3><a href="landing-page-1.html">Biosecurity</a></h3>
                <p>The South Australian Research and Development Institute (SARDI) is the research arm of the Department of Primary Industries and Regions (PIRSA).
                </p>
              </div>
              <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Animal species</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Animal species</a></li>
                    <li><a href="#">Reporting animal disease</a></li>
                    <li><a href="#">Disease surveillance initiatives</a></li>
                    <li><a href="#">Veterinary resources</a></li>
                    <li><a href="#">Animal welfare &amp; feeding</a></li>
                    <li><a href="#">Helping wildlife</a></li>
                    <li><a href="#">One Biosecurity</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Food safety</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Dairy</a></li>
                    <li><a href="#">Eggs</a></li>
                    <li><a href="#">Horticulture</a></li>
                    <li><a href="#">Meat</a></li>
                    <li><a href="#">Seafood</a></li>
                    <li><a href="#">Seed sprouts</a></li>
                    <li><a href="#">SASQAP</a></li>
                    <li><a href="#">Food safety schemes &amp; legislation</a></li>
                    <li><a href="#">Food safety links</a></li>
                  </ul>
                </div>            
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Plant health</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Importing commercial plants &amp; plant products</a></li>
                    <li><a href="#">Exporting commercial plants &amp; plant products</a></li>
                    <li><a href="#">Plant import &amp; export forms &amp; fees</a></li>
                    <li><a href="#">Reporting plant pests</a></li>
                    <li><a href="#">Travelling with plants</a></li>
                  </ul>
                </div>               
              </div>
              <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Livestock movement</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Property identification code</a></li>
                    <li><a href="#">National Livestock Identification System</a></li>
                    <li><a href="#">eID for sheep &amp; goats</a></li>
                    <li><a href="#">SA property clearance certificates</a></li>
                  </ul>
                </div>

                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Fruit fly</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Outbreak map</a></li>
                    <li><a href="#">Outbreak restrictions</a></li>
                    <li><a href="#">Travel restrictions</a></li>
                    <li><a href="#">Industry support</a></li>
                    <li><a href="#">Prevent fruit fly</a></li>
                    <li><a href="#">News &amp; resources</a></li>
                  </ul>
                </div>               
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Rural chemicals</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Storing &amp; disposal of chemicals</a></li>
                    <li><a href="#">Chemical use &amp; best practice</a></li>
                    <li><a href="#">Comply with legislation</a></li>
                    <li><a href="#">Reporting chemical misuse</a></li>
                  </ul>
                </div>               
              </div>
              <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Aquatics</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Aquatic diseases</a></li>
                    <li><a href="#">Aquatic pests</a></li>
                    <li><a href="#">Moving or importing aquatic animals</a></li>
                    <li><a href="#">Mass fish die-off</a></li>
                    <li><a href="#">Dredging &amp; biosecurity risks</a></li>
                    <li><a href="#">Biofouling &amp; ballast water</a></li>
                  </ul>
                </div>  
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Introduced &amp; pest animals</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Find a pest animal</a></li>
                    <li><a href="#">Reporting pest animals</a></li>
                    <li><a href="#">Legal requirements</a></li>
                    <li><a href="#">Keeping declared animals</a></li>
                    <li><a href="#">Using poison baits in SA</a></li>
                  </ul>
                </div>  
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Weeds</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Identifying declared weeds</a></li>
                    <li><a href="#">Reporting alert weeds</a></li>
                    <li><a href="#">Managing weeds</a></li>
                    <li><a href="#">Landholder responsibilities</a></li>
                    <li><a href="#">Weed management programs</a></li>
                  </ul>
                </div>                          
              </div>
            </div>
          </div>
        </li>

        <li>
          <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-5">
            <span>Rec Fishing</span>
          </a>
        </li>

        <li>
          <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-6">
            <span>Emergencies &amp; Recovery</span>
          </a>
        </li>

        <li>
          <a href="sardi.html" role="button" aria-expanded="false" aria-controls="sub-nav-7">
            <span>SARDI Research</span>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
          </a>

          <div class="nsw-main-nav__sub-nav" id="sub-nav-7" role="region" aria-label="SARDI Research Submenu">
            <div class="nsw-main-nav__header">
              <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="true"
                aria-controls="sub-nav-7">
                <span class="material-icons nsw-material-icons" focusable="false"
                  aria-hidden="true">keyboard_arrow_left</span>
                <span>Back<span class="sr-only"> to previous menu</span></span>
              </button>

              <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
                <span class="sr-only">Close Menu</span>
              </button>
            </div>

            <div class="nsw-grid nsw-main-nav__sub-nav__mega-menu">
              <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                <div class="nsw-main-nav__sub-nav__mega-menu__logo"><a href="sardi.html"><img src="image/SARDI-Colour-logo.svg" alt="South Australian Research and Development Institute (SARDI) logo"></a></div>
                <p>The South Australian Research and Development Institute (SARDI) is the research arm of the Department of Primary Industries and Regions (PIRSA).
                </p>
              </div>
              <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="sardi.html">SARDI Research</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Research centres and facilities</a></li>
                    <li><a href="#">Careers and scholarships</a></li>
                    <li><a href="#">Animal Ethics Committee</a></li>
                    <li><a href="#">Research reports</a></li>
                  </ul>
                </div>
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Aquatic sciences</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Aquaculture</a></li>
                    <li><a href="#">Fisheries</a></li>
                    <li><a href="#">Inland waters &amp; catchment ecology</a></li>
                    <li><a href="#">Marine ecosystems</a></li>
                  </ul>
                </div>            
              </div>
              <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Crop sciences</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Agronomy</a></li>
                    <li><a href="#">Crop &amp; pasture improvement</a></li>
                    <li><a href="#">Entomology</a></li>
                    <li><a href="#">Irrigated crops</a></li>
                    <li><a href="#">Plant health &amp; diagnostics</a></li>

                  </ul>
                </div>
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Food sciences</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Seafood safety &amp; market access</a></li>
                    <li><a href="#">Meat safety &amp; market access</a></li>
                    <li><a href="#">Food technology</a></li>
                    <li><a href="#">Food pilot laboratory</a></li>
                    <li><a href="#">Food microbiology</a></li>
                    <li><a href="#">Food statistical services</a></li>
                  </ul>
                </div>   
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Livestock sciences</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Livestock innovation &amp; welfare</a></li>
                    <li><a href="#">Pigs &amp; poultry</a></li>
                  </ul>
                </div>               
              </div>
              <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Services</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Crop diagnostics</a></li>
                    <li><a href="#">Molecular diagnostics</a></li>
                    <li><a href="#">Australian Pastures Genebank</a></li>
                    <li><a href="#">Seed Services</a></li>
                    <li><a href="#">Insect identification service</a></li>
                  </ul>
                </div>   
                <div class="nsw-main-nav__sub-nav__mega-menu__group">
                  <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Feature projects</a></div>
                  <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                    <li><a href="#">Snapper recovery</a></li>
                  </ul>
                </div>  
              </div>
            </div>
          </div>
        </li>

        <!-- <li>
            <a href="https://designsystem.nsw.gov.au/index.html#contact-us">
              <span>Contact us</span>
            </a>    </li> -->
      </ul>



    <div class="nsw-main-nav__mobile-extra-links nsw-hide-lg">
      <ul>
        <li><a class="menu-item" href="#">myPIRSA</a></li>
        <li><a class="menu-item" href="#">Contact</a></li>
        <li><a class="menu-item" href="#">About Us</a></li>
                <li class="nsw-form__group translate-mobile">
                    <label class="nsw-form__label" for="form-select">Language</label>
                    <select class="nsw-form__select" name="select-all-regions-1" id="select-all-regions-1">
                        <option value="eng">Select Language</option>
                    </select>
                
                    <div class="translate__container">
                        <ul class="translate__languages nsw-small" id="translateMenu0" role="menu" aria-hidden="true" style="
                                        max-height: 50vh;
                                        position: relative;
                                        overflow-y: scroll;
                                        padding-left: 0;
                                    ">
                            <li role="none" translate="no">
                                <a id="language-english" data-language="en" href="https://www.sira.nsw.gov.au/consultations"
                                    role="menuitem" onclick="">English</a>
                            </li>
                            <li role="none">
                                <a data-language="af" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|af)"
                                    role="menuitem">Afrikaans (Afrikaans)</a>
                            </li>
                            <li role="none">
                                <a data-language="sq" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|sq)"
                                    role="menuitem">Albanian (shqip)</a>
                            </li>
                            <li role="none">
                                <a data-language="ar" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ar)"
                                    role="menuitem">Arabic (العربية)</a>
                            </li>
                            <li role="none">
                                <a data-language="hy" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|hy)"
                                    role="menuitem">Armenian (Հայերեն)</a>
                            </li>
                            <li role="none">
                                <a data-language="az" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|az)"
                                    role="menuitem">Azerbaijani (Azərbaycan)</a>
                            </li>
                            <li role="none">
                                <a data-language="eu" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|eu)"
                                    role="menuitem">Basque (Euskara)</a>
                            </li>
                            <li role="none">
                                <a data-language="be" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|be)"
                                    role="menuitem">Belarusian (Беларуская)</a>
                            </li>
                            <li role="none">
                                <a data-language="bn" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|bn)"
                                    role="menuitem">Bengali (বাংলা)</a>
                            </li>
                            <li role="none">
                                <a data-language="bs" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|bs)"
                                    role="menuitem">Bosnian (Bosanski)</a>
                            </li>
                            <li role="none">
                                <a data-language="bg" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|bg)"
                                    role="menuitem">Bulgarian (Български)</a>
                            </li>
                            <li role="none">
                                <a data-language="ca" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ca)"
                                    role="menuitem">Catalan (Català)</a>
                            </li>
                            <li role="none">
                                <a data-language="zh-CN" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|zh-CN)"
                                    role="menuitem">Chinese Simplified (简体中文)</a>
                            </li>
                            <li role="none">
                                <a data-language="zh-TW" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|zh-TW)"
                                    role="menuitem">Chinese Traditional (繁體中文)</a>
                            </li>
                            <li role="none">
                                <a data-language="hr" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|hr)"
                                    role="menuitem">Croatian (Hrvatski)</a>
                            </li>
                            <li role="none">
                                <a data-language="cs" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|cs)"
                                    role="menuitem">Czech (čeština)</a>
                            </li>
                            <li role="none">
                                <a data-language="da" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|da)"
                                    role="menuitem">Danish (Dansk)</a>
                            </li>
                            <li role="none">
                                <a data-language="nl" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|nl)"
                                    role="menuitem">Dutch (Nederlands)</a>
                            </li>
                            <li role="none">
                                <a data-language="et" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|et)"
                                    role="menuitem">Estonian (Eesti keel)</a>
                            </li>
                            <li role="none">
                                <a data-language="tl" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|tl)"
                                    role="menuitem">Filipino (Tagalog)</a>
                            </li>
                            <li role="none">
                                <a data-language="fi" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|fi)"
                                    role="menuitem">Finnish (Suomi)</a>
                            </li>
                            <li role="none">
                                <a data-language="fr" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|fr)"
                                    role="menuitem">French (Français)</a>
                            </li>
                            <li role="none">
                                <a data-language="gl" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|gl)"
                                    role="menuitem">Galician (Galego)</a>
                            </li>
                            <li role="none">
                                <a data-language="ka" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ka)"
                                    role="menuitem">Georgian (ქართული)</a>
                            </li>
                            <li role="none">
                                <a data-language="de" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|de)"
                                    role="menuitem">German (Deutsch)</a>
                            </li>
                            <li role="none">
                                <a data-language="el" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|el)"
                                    role="menuitem">Greek (Ελληνικά)</a>
                            </li>
                            <li role="none">
                                <a data-language="gu" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|gu)"
                                    role="menuitem">Gujarati (ગુજરાતી)</a>
                            </li>
                            <li role="none">
                                <a data-language="ht" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ht)"
                                    role="menuitem">Haitian Creole (Kreyòl ayisyen)</a>
                            </li>
                            <li role="none">
                                <a data-language="iw" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|iw)"
                                    role="menuitem">Hebrew (עברית)</a>
                            </li>
                            <li role="none">
                                <a data-language="hi" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|hi)"
                                    role="menuitem">Hindi (हिन्दी)</a>
                            </li>
                            <li role="none">
                                <a data-language="hu" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|hu)"
                                    role="menuitem">Hungarian (Magyar)</a>
                            </li>
                            <li role="none">
                                <a data-language="is" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|is)"
                                    role="menuitem">Icelandic (íslenska)</a>
                            </li>
                            <li role="none">
                                <a data-language="id" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|id)"
                                    role="menuitem">Indonesian (Bahasa Indonesia)</a>
                            </li>
                            <li role="none">
                                <a data-language="ga" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ga)"
                                    role="menuitem">Irish (Gaeilge)</a>
                            </li>
                            <li role="none">
                                <a data-language="it" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|it)"
                                    role="menuitem">Italian (Italiano)</a>
                            </li>
                            <li role="none">
                                <a data-language="ja" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ja)"
                                    role="menuitem">Japanese (日本語)</a>
                            </li>
                            <li role="none">
                                <a data-language="km" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|km)"
                                    role="menuitem">Khmer (ខ្មែរ)</a>
                            </li>
                            <li role="none">
                                <a data-language="ko" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ko)"
                                    role="menuitem">Korean (한국어)</a>
                            </li>
                            <li role="none">
                                <a data-language="ku" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ku)"
                                    role="menuitem">Kurdish - Kurmanji (Kurmancî)</a>
                            </li>
                            <li role="none">
                                <a data-language="ckb" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ckb)"
                                    role="menuitem">Kurdish - Sorani (سۆرانی)</a>
                            </li>
                            <li role="none">
                                <a data-language="lo" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|lo)"
                                    role="menuitem">Lao (ລາວ)</a>
                            </li>
                            <li role="none">
                                <a data-language="lv" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|lv)"
                                    role="menuitem">Latvian (Latviešu)</a>
                            </li>
                            <li role="none">
                                <a data-language="lt" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|lt)"
                                    role="menuitem">Lithuanian (Lietuvių)</a>
                            </li>
                            <li role="none">
                                <a data-language="mk" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|mk)"
                                    role="menuitem">Macedonian (Mакедонски)</a>
                            </li>
                            <li role="none">
                                <a data-language="ms" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ms)"
                                    role="menuitem">Malay (Bahasa Melayu)</a>
                            </li>
                            <li role="none">
                                <a data-language="ml" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ml)"
                                    role="menuitem">Malayalam (മലയാളം)</a>
                            </li>
                            <li role="none">
                                <a data-language="mt" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|mt)"
                                    role="menuitem">Maltese (Malti)</a>
                            </li>
                            <li role="none">
                                <a data-language="mr" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|mr)"
                                    role="menuitem">Marathi (मराठी)</a>
                            </li>
                            <li role="none">
                                <a data-language="mn" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|mn)"
                                    role="menuitem">Mongolian (Монгол)</a>
                            </li>
                            <li role="none">
                                <a data-language="ne" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ne)"
                                    role="menuitem">Nepali (नेपाली)</a>
                            </li>
                            <li role="none">
                                <a data-language="no" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|no)"
                                    role="menuitem">Norwegian (Norsk)</a>
                            </li>
                            <li role="none">
                                <a data-language="fa" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|fa)"
                                    role="menuitem">Persian (فارسی)</a>
                            </li>
                            <li role="none">
                                <a data-language="pl" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|pl)"
                                    role="menuitem">Polish (Polski)</a>
                            </li>
                            <li role="none">
                                <a data-language="pt" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|pt)"
                                    role="menuitem">Portuguese (Português)</a>
                            </li>
                            <li role="none">
                                <a data-language="pa" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|pa)"
                                    role="menuitem">Punjabi (ਪੰਜਾਬੀ)</a>
                            </li>
                            <li role="none">
                                <a data-language="ro" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ro)"
                                    role="menuitem">Romanian (Română)</a>
                            </li>
                            <li role="none">
                                <a data-language="ru" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ru)"
                                    role="menuitem">Russian (Pусский)</a>
                            </li>
                            <li role="none">
                                <a data-language="sr" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|sr)"
                                    role="menuitem">Serbian (српски)</a>
                            </li>
                            <li role="none">
                                <a data-language="si" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|si)"
                                    role="menuitem">Sinhala (සිංහල)</a>
                            </li>
                            <li role="none">
                                <a data-language="sk" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|sk)"
                                    role="menuitem">Slovak (Slovenčina)</a>
                            </li>
                            <li role="none">
                                <a data-language="sl" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|sl)"
                                    role="menuitem">Slovenian (Slovenščina)</a>
                            </li>
                            <li role="none">
                                <a data-language="es" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|es)"
                                    role="menuitem">Spanish (Español)</a>
                            </li>
                            <li role="none">
                                <a data-language="sw" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|sw)"
                                    role="menuitem">Swahili (Kiswahili)</a>
                            </li>
                            <li role="none">
                                <a data-language="sv" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|sv)"
                                    role="menuitem">Swedish (Svenska)</a>
                            </li>
                            <li role="none">
                                <a data-language="ta" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ta)"
                                    role="menuitem">Tamil (தமிழ்)</a>
                            </li>
                            <li role="none">
                                <a data-language="te" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|te)"
                                    role="menuitem">Telugu (తెలుగు)</a>
                            </li>
                            <li role="none">
                                <a data-language="th" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|th)"
                                    role="menuitem">Thai (ไทย)</a>
                            </li>
                            <li role="none">
                                <a data-language="tr" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|tr)"
                                    role="menuitem">Turkish (Türkçe)</a>
                            </li>
                            <li role="none">
                                <a data-language="uk" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|uk)"
                                    role="menuitem">Ukrainian (Українська)</a>
                            </li>
                            <li role="none">
                                <a data-language="ur" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|ur)"
                                    role="menuitem">Urdu (اردو)</a>
                            </li>
                            <li role="none">
                                <a data-language="uz" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|uz)"
                                    role="menuitem">Uzbek (O‘zbek)</a>
                            </li>
                            <li role="none">
                                <a data-language="vi" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|vi)"
                                    role="menuitem">Vietnamese (Tiếng Việt)</a>
                            </li>
                            <li role="none">
                                <a data-language="cy" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|cy)"
                                    role="menuitem">Welsh (Cymraeg)</a>
                            </li>
                            <li role="none">
                                <a data-language="xh" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|xh)"
                                    role="menuitem">Xhosa (isiXhosa)</a>
                            </li>
                            <li role="none">
                                <a data-language="yi" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|yi)"
                                    role="menuitem">Yiddish (ייִדיש)</a>
                            </li>
                            <li role="none">
                                <a data-language="zu" href="https://www.sira.nsw.gov.au/consultations/#googtrans(en|zu)"
                                    role="menuitem">Zulu (isiZulu)</a>
                            </li>
                        </ul>
                    </div>
                </li>
      </ul>
    </div>


  </div>
</nav>