<nav class="nsw-main-nav js-mega-menu" id="main-nav" aria-label="Main menu">

  <div class="nsw-main-nav__header">
    <div class="nsw-main-nav__title">Menu</div>
    <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
      <span class="sr-only">Close Menu</span>
    </button>
  </div>

  <ul class="nsw-main-nav__list">

    <li>
      <a href="landing-page-1.html" role="button" aria-expanded="false" aria-controls="sub-nav-1">
        <span>Primary Industries</span>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
      </a>
  
      
      <div class="nsw-main-nav__sub-nav" id="sub-nav-1" role="region" aria-label="Primary Industries Submenu">
        <div class="nsw-main-nav__header">
          <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="true"
            aria-controls="sub-nav-1">
            <span class="material-icons nsw-material-icons" focusable="false"
              aria-hidden="true">keyboard_arrow_left</span>
            <span>Back<span class="sr-only"> to previous menu</span></span>
          </button>

          <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
            <span class="sr-only">Close Menu</span>
          </button>
        </div>

        <div class="nsw-grid nsw-main-nav__sub-nav__mega-menu">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
            <h3><a href="landing-page-1.html">Primary Industries</a></h3>
            <p>The South Australian Research and Development Institute (SARDI) is the research arm of the Department of Primary Industries and Regions (PIRSA).
            </p>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Aquaculture</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Land-based aquaculture</a></li>
                <li><a href="#">Marine aquaculture</a></li>
                <li><a href="#">Monitoring &amp; assessment</a></li>
                <li><a href="#">Leasing &amp; licensing</a></li>
                <li><a href="#">Aquatic animal health</a></li>
                <li><a href="#">Policy &amp; legislation</a></li>
                <li><a href="#">Community consultation</a></li>
                <li><a href="#">Publications</a></li>
                <li><a href="#">Aquaculture contacts</a></li>
              </ul>
            </div>
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Forestry</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">SA Wood Fibre and Timber Industry Master Plan</a></li>
                <li><a href="#">Forestry Centre of Excellence</a></li>
                <li><a href="#">Trees on Farms Initiative</a></li>
                <li><a href="#">Mid North forests</a></li>
                <li><a href="#">Forest Industries Advisory Council of SA</a></li>
              </ul>
            </div>            
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Horticulture</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Citrus Growers Fund</a></li>
                <li><a href="#">Alkaloid poppy production</a></li>
              </ul>
            </div>               
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="landing-page-2.html">Commercial fishing</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Commercial fisheries</a></li>
                <li><a href="#">Commercial size limits</a></li>
                <li><a href="#">Fish processing</a></li>
                <li><a href="#">Fisheries management</a></li>
                <li><a href="#">Licensing &amp; registration</a></li>
                <li><a href="#">Online payments</a></li>
                <li><a href="#">Permits &amp; exemptions</a></li>
                <li><a href="#">Community consultations</a></li>
                <li><a href="#">Public register</a></li>
                <li><a href="#">Digital reporting</a></li>
              </ul>
            </div>

            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Grains &amp; crops</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Grain Industry Funds</a></li>
               <li><a href="#"> Crop &amp; pasture reports</a></li>
                <li><a href="#">Genetically modified crops</a></li>
                <li><a href="#">Grains Farm Biosecurity Program</a></li>
                <li><a href="#">Industrial hemp</a></li>
                <li><a href="#">Reducing smoke taint in grapes</a></li>
              </ul>
            </div>               
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Livestock, wool &amp; dairy</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Apiary Industry Fund</a></li>
                <li><a href="#">Cattle Industry Fund</a></li>
                <li><a href="#">Pig Industry Fund</a></li>
                <li><a href="#">Sheep Industry Fund</a></li>
                <li><a href="#">Livestock movement</a></li>
              </ul>
            </div>               
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Food &amp; beverage</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">SA ambassadors</a></li>
                <li><a href="#">Produce sectors</a></li>
                  <li><a href="#">SA advantages</a></li>
                <li><a href="#">Culinary tourism</a></li>
              </ul>
            </div>  
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Grape &amp; wine</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
               <li><a href="#"> Legislation</a></li>
                <li><a href="#">Wine Industry Funds</a></li>
                <li><a href="#">No and low (NOLO) alcohol wine</a></li>
                <li><a href="#">Adelaide Great Wine Capital</a></li>
              </ul>
            </div>  
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Climate change</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Government policies &amp; initiatives</a></li>
                <li><a href="#">Carbon footprint</a></li>
                <li><a href="#">Carbon farming</a></li>
                <li><a href="#">Carbon Farming Demonstration Pilot</a></li>
              </ul>
            </div>                          
          </div>
        </div>
      </div>
    </li>

    <li>
      <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-3">
        <span>Regions</span>
      </a>
    </li>

    <li>
      <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-4">
        <span>Biosecurity</span>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
      </a>
        
      <div class="nsw-main-nav__sub-nav" id="sub-nav-4" role="region" aria-label="Biosecurity Submenu">
        <div class="nsw-main-nav__header">
          <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="true"
            aria-controls="sub-nav-1">
            <span class="material-icons nsw-material-icons" focusable="false"
              aria-hidden="true">keyboard_arrow_left</span>
            <span>Back<span class="sr-only"> to previous menu</span></span>
          </button>

          <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
            <span class="sr-only">Close Menu</span>
          </button>
        </div>

        <div class="nsw-grid nsw-main-nav__sub-nav__mega-menu">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
            <h3>Biosecurity</h3>
            <p>The South Australian Research and Development Institute (SARDI) is the research arm of the Department of Primary Industries and Regions (PIRSA).
            </p>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Animal species</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Animal species</a></li>
                <li><a href="#">Reporting animal disease</a></li>
                <li><a href="#">Disease surveillance initiatives</a></li>
                <li><a href="#">Veterinary resources</a></li>
                <li><a href="#">Animal welfare &amp; feeding</a></li>
                <li><a href="#">Helping wildlife</a></li>
                <li><a href="#">One Biosecurity</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Food safety</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Dairy</a></li>
                <li><a href="#">Eggs</a></li>
                <li><a href="#">Horticulture</a></li>
                <li><a href="#">Meat</a></li>
                <li><a href="#">Seafood</a></li>
                <li><a href="#">Seed sprouts</a></li>
                <li><a href="#">SASQAP</a></li>
                <li><a href="#">Food safety schemes &amp; legislation</a></li>
                <li><a href="#">Food safety links</a></li>
              </ul>
            </div>            
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Plant health</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Importing commercial plants &amp; plant products</a></li>
                <li><a href="#">Exporting commercial plants &amp; plant products</a></li>
                <li><a href="#">Plant import &amp; export forms &amp; fees</a></li>
                <li><a href="#">Reporting plant pests</a></li>
                <li><a href="#">Travelling with plants</a></li>
              </ul>
            </div>               
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Livestock movement</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Property identification code</a></li>
                <li><a href="#">National Livestock Identification System</a></li>
                <li><a href="#">eID for sheep &amp; goats</a></li>
                <li><a href="#">SA property clearance certificates</a></li>
              </ul>
            </div>

            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Fruit fly</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Outbreak map</a></li>
                <li><a href="#">Outbreak restrictions</a></li>
                <li><a href="#">Travel restrictions</a></li>
                <li><a href="#">Industry support</a></li>
                <li><a href="#">Prevent fruit fly</a></li>
                <li><a href="#">News &amp; resources</a></li>
              </ul>
            </div>               
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Rural chemicals</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Storing &amp; disposal of chemicals</a></li>
                <li><a href="#">Chemical use &amp; best practice</a></li>
                <li><a href="#">Comply with legislation</a></li>
                <li><a href="#">Reporting chemical misuse</a></li>
              </ul>
            </div>               
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Aquatics</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Aquatic diseases</a></li>
                <li><a href="#">Aquatic pests</a></li>
                <li><a href="#">Moving or importing aquatic animals</a></li>
                <li><a href="#">Mass fish die-off</a></li>
                <li><a href="#">Dredging &amp; biosecurity risks</a></li>
                <li><a href="#">Biofouling &amp; ballast water</a></li>
              </ul>
            </div>  
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Introduced &amp; pest animals</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Find a pest animal</a></li>
                <li><a href="#">Reporting pest animals</a></li>
                <li><a href="#">Legal requirements</a></li>
                <li><a href="#">Keeping declared animals</a></li>
                <li><a href="#">Using poison baits in SA</a></li>
              </ul>
            </div>  
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Weeds</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Identifying declared weeds</a></li>
                <li><a href="#">Reporting alert weeds</a></li>
                <li><a href="#">Managing weeds</a></li>
                <li><a href="#">Landholder responsibilities</a></li>
                <li><a href="#">Weed management programs</a></li>
              </ul>
            </div>                          
          </div>
        </div>
      </div>
    </li>

    <li>
      <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-5">
        <span>Rec Fishing</span>
      </a>
    </li>

    <li>
      <a href="#" role="button" aria-expanded="false" aria-controls="sub-nav-6">
        <span>Emergencies &amp; Recovery</span>
      </a>
    </li>

    <li>
      <a href="sardi.html" role="button" aria-expanded="false" aria-controls="sub-nav-7">
        <span>SARDI Research</span>
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
      </a>

      <div class="nsw-main-nav__sub-nav" id="sub-nav-7" role="region" aria-label="SARDI Research Submenu">
        <div class="nsw-main-nav__header">
          <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="true"
            aria-controls="sub-nav-7">
            <span class="material-icons nsw-material-icons" focusable="false"
              aria-hidden="true">keyboard_arrow_left</span>
            <span>Back<span class="sr-only"> to previous menu</span></span>
          </button>

          <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
            <span class="sr-only">Close Menu</span>
          </button>
        </div>

        <div class="nsw-grid nsw-main-nav__sub-nav__mega-menu">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
            <div class="nsw-main-nav__sub-nav__mega-menu__logo"><a href="sardi.html"><img src="image/SARDI-Colour-logo.svg" alt="South Australian Research and Development Institute (SARDI) logo"></a></div>
            <p>The South Australian Research and Development Institute (SARDI) is the research arm of the Department of Primary Industries and Regions (PIRSA).
            </p>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="sardi.html">SARDI Research</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Research centres and facilities</a></li>
                <li><a href="#">Careers and scholarships</a></li>
                <li><a href="#">Animal Ethics Committee</a></li>
                <li><a href="#">Research reports</a></li>
              </ul>
            </div>
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Aquatic sciences</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Aquaculture</a></li>
                <li><a href="#">Fisheries</a></li>
                <li><a href="#">Inland waters &amp; catchment ecology</a></li>
                <li><a href="#">Marine ecosystems</a></li>
              </ul>
            </div>            
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Crop sciences</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Agronomy</a></li>
                <li><a href="#">Crop &amp; pasture improvement</a></li>
                <li><a href="#">Entomology</a></li>
                <li><a href="#">Irrigated crops</a></li>
                <li><a href="#">Plant health &amp; diagnostics</a></li>

              </ul>
            </div>
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Food sciences</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Seafood safety &amp; market access</a></li>
                <li><a href="#">Meat safety &amp; market access</a></li>
                <li><a href="#">Food technology</a></li>
                <li><a href="#">Food pilot laboratory</a></li>
                <li><a href="#">Food microbiology</a></li>
                <li><a href="#">Food statistical services</a></li>
              </ul>
            </div>   
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Livestock sciences</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Livestock innovation &amp; welfare</a></li>
                <li><a href="#">Pigs &amp; poultry</a></li>
              </ul>
            </div>               
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Services</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Crop diagnostics</a></li>
                <li><a href="#">Molecular diagnostics</a></li>
                <li><a href="#">Australian Pastures Genebank</a></li>
                <li><a href="#">Seed Services</a></li>
                <li><a href="#">Insect identification service</a></li>
              </ul>
            </div>   
            <div class="nsw-main-nav__sub-nav__mega-menu__group">
              <div class="nsw-main-nav__sub-nav__mega-menu__group__title"><a href="#">Feature projects</a></div>
              <ul class="nsw-main-nav__sub-nav__mega-menu__group__list-links">
                <li><a href="#">Snapper recovery</a></li>
              </ul>
            </div>  
          </div>
        </div>
      </div>
    </li>

    <!-- <li>
        <a href="https://designsystem.nsw.gov.au/index.html#contact-us">
          <span>Contact us</span>
        </a>    </li> -->
  </ul>
</nav>