<div class="nsw-grid">

    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card pirsa-large-card" style="background-image:url('image/sardi/Image Card.jpg')">
            <div class="nsw-card__content">
                <div class="nsw-card__tag">Project</div>
                <div class="nsw-card__title">
                    <a href="#">Chowilla Icon Site Fish Intervention Monitoring 2022/23</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>

    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card pirsa-large-card" style="background-image:url('image/sardi/Image Card_1.jpg')">
            <div class="nsw-card__content">
                <div class="nsw-card__tag">Project</div>
                <div class="nsw-card__title">
                    <a href="#">Condition monitoring of fish movement and recruitment at the Murray Barrages 2023/24</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>

    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card pirsa-large-card" style="background-image:url('image/sardi/Image Card_2.jpg')">
            <div class="nsw-card__content">
                <div class="nsw-card__tag">Project</div>
                <div class="nsw-card__title">
                    <a href="#">Chowilla Icon Site Fish Intervention Monitoring 2023/24</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>
    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card pirsa-large-card" style="background-image:url('image/sardi/Image Card.jpg')">
            <div class="nsw-card__content">
                <div class="nsw-card__tag">Project</div>
                <div class="nsw-card__title">
                    <a href="#">Chowilla Icon Site Fish Intervention Monitoring 2022/23</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>

    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card pirsa-large-card" style="background-image:url('image/sardi/Image Card_1.jpg')">
            <div class="nsw-card__content">
                <div class="nsw-card__tag">Project</div>
                <div class="nsw-card__title">
                    <a href="#">Condition monitoring of fish movement and recruitment at the Murray Barrages 2023/24</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>

    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card pirsa-large-card" style="background-image:url('image/sardi/Image Card_2.jpg')">
            <div class="nsw-card__content">
                <div class="nsw-card__tag">Project</div>
                <div class="nsw-card__title">
                    <a href="#">Chowilla Icon Site Fish Intervention Monitoring 2023/24</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>
    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card pirsa-large-card" style="background-image:url('image/sardi/Image Card.jpg')">
            <div class="nsw-card__content">
                <div class="nsw-card__tag">Project</div>
                <div class="nsw-card__title">
                    <a href="#">Chowilla Icon Site Fish Intervention Monitoring 2022/23</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>

    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card pirsa-large-card" style="background-image:url('image/sardi/Image Card_1.jpg')">
            <div class="nsw-card__content">
                <div class="nsw-card__tag">Project</div>
                <div class="nsw-card__title">
                    <a href="#">Condition monitoring of fish movement and recruitment at the Murray Barrages 2023/24</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>

    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card pirsa-large-card" style="background-image:url('image/sardi/Image Card_2.jpg')">
            <div class="nsw-card__content">
                <div class="nsw-card__tag">Project</div>
                <div class="nsw-card__title">
                    <a href="#">Chowilla Icon Site Fish Intervention Monitoring 2023/24</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false"
                    aria-hidden="true">east</span>
            </div>
        </div>
    </div>


</div>