<div class="nsw-grid">
    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--pirsa nsw-card--headline">
            <div class="nsw-card__image">
                <img src="image/pirsa/cover.jpg" alt="Cutting edge research helping farmers on the Eyre Peninsula">
            </div>
            <div class="nsw-card__content">
                <div class="nsw-card--pirsa__meta"><span class="nsw-card--pirsa__tag">News release</span><time
                        datetime="2019-03-09">April 08, 2025</time></div>
                <div class="nsw-card__title">
                    <a href="#">Cutting edge research helping farmers on the Eyre Peninsula</a>
                </div>
                <div class="nsw-card__copy">
                    <p>The delivery of more than 100 truckloads of donated hay to farming communities across
                        South Australia, as a result of financial support…</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
        </div>
    </div>
    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--pirsa nsw-card--headline">
            <div class="nsw-card__image">
                <img src="image/pirsa/cover_1.jpg" alt="Cutting edge research helping farmers on the Eyre Peninsula">
            </div>
            <div class="nsw-card__content">
                <div class="nsw-card--pirsa__meta"><span class="nsw-card--pirsa__tag">News release</span><time
                        datetime="2019-03-09">April 08, 2025</time></div>
                <div class="nsw-card__title">
                    <a href="#">AgTech solutions on show in the Barossa and Loxton to support local
                        agriculture</a>
                </div>
                <div class="nsw-card__copy">
                    <p>Latest AgTech for vineyards and orchards on show at the Nuriootpa and Loxton Research
                        Centre. </p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
        </div>
    </div>
    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--pirsa nsw-card--headline">
            <div class="nsw-card__image">
                <img src="image/pirsa/cover_2.jpg" alt="New Premier's Priority to lift literacy and numeracy standards">
            </div>
            <div class="nsw-card__content">
                <div class="nsw-card--pirsa__meta"><span class="nsw-card--pirsa__tag">News release</span><time
                        datetime="2019-03-09">April 08, 2025</time></div>
                <div class="nsw-card__title">
                    <a href="#">Cutting edge research helping farmers on the Eyre Peninsula</a>
                </div>
                <div class="nsw-card__copy">
                    <p>Cutting edge research helping farmers on the Eyre Peninsula.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
        </div>
    </div>
    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--pirsa nsw-card--headline">
            <div class="nsw-card__image">
                <img src="image/pirsa/cover.jpg" alt="Cutting edge research helping farmers on the Eyre Peninsula">
            </div>
            <div class="nsw-card__content">
                <div class="nsw-card--pirsa__meta"><span class="nsw-card--pirsa__tag">News release</span><time
                        datetime="2019-03-09">April 08, 2025</time></div>
                <div class="nsw-card__title">
                    <a href="#">Cutting edge research helping farmers on the Eyre Peninsula</a>
                </div>
                <div class="nsw-card__copy">
                    <p>The delivery of more than 100 truckloads of donated hay to farming communities across
                        South Australia, as a result of financial support…</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
        </div>
    </div>
    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--pirsa nsw-card--headline">
            <div class="nsw-card__image">
                <img src="image/pirsa/cover_1.jpg" alt="Cutting edge research helping farmers on the Eyre Peninsula">
            </div>
            <div class="nsw-card__content">
                <div class="nsw-card--pirsa__meta"><span class="nsw-card--pirsa__tag">News release</span><time
                        datetime="2019-03-09">April 08, 2025</time></div>
                <div class="nsw-card__title">
                    <a href="#">AgTech solutions on show in the Barossa and Loxton to support local
                        agriculture</a>
                </div>
                <div class="nsw-card__copy">
                    <p>Latest AgTech for vineyards and orchards on show at the Nuriootpa and Loxton Research
                        Centre. </p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
        </div>
    </div>
    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--pirsa nsw-card--headline">
            <div class="nsw-card__image">
                <img src="image/pirsa/cover_2.jpg" alt="New Premier's Priority to lift literacy and numeracy standards">
            </div>
            <div class="nsw-card__content">
                <div class="nsw-card--pirsa__meta"><span class="nsw-card--pirsa__tag">News release</span><time
                        datetime="2019-03-09">April 08, 2025</time></div>
                <div class="nsw-card__title">
                    <a href="#">Cutting edge research helping farmers on the Eyre Peninsula</a>
                </div>
                <div class="nsw-card__copy">
                    <p>Cutting edge research helping farmers on the Eyre Peninsula.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
        </div>
    </div>
    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--pirsa nsw-card--headline">
            <div class="nsw-card__image">
                <img src="image/pirsa/cover.jpg" alt="Cutting edge research helping farmers on the Eyre Peninsula">
            </div>
            <div class="nsw-card__content">
                <div class="nsw-card--pirsa__meta"><span class="nsw-card--pirsa__tag">News release</span><time
                        datetime="2019-03-09">April 08, 2025</time></div>
                <div class="nsw-card__title">
                    <a href="#">Cutting edge research helping farmers on the Eyre Peninsula</a>
                </div>
                <div class="nsw-card__copy">
                    <p>The delivery of more than 100 truckloads of donated hay to farming communities across
                        South Australia, as a result of financial support…</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
        </div>
    </div>
    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--pirsa nsw-card--headline">
            <div class="nsw-card__image">
                <img src="image/pirsa/cover_1.jpg" alt="Cutting edge research helping farmers on the Eyre Peninsula">
            </div>
            <div class="nsw-card__content">
                <div class="nsw-card--pirsa__meta"><span class="nsw-card--pirsa__tag">News release</span><time
                        datetime="2019-03-09">April 08, 2025</time></div>
                <div class="nsw-card__title">
                    <a href="#">AgTech solutions on show in the Barossa and Loxton to support local
                        agriculture</a>
                </div>
                <div class="nsw-card__copy">
                    <p>Latest AgTech for vineyards and orchards on show at the Nuriootpa and Loxton Research
                        Centre. </p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
        </div>
    </div>
    <div class="nsw-col nsw-col-sm-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--pirsa nsw-card--headline">
            <div class="nsw-card__image">
                <img src="image/pirsa/cover_2.jpg" alt="New Premier's Priority to lift literacy and numeracy standards">
            </div>
            <div class="nsw-card__content">
                <div class="nsw-card--pirsa__meta"><span class="nsw-card--pirsa__tag">News release</span><time
                        datetime="2019-03-09">April 08, 2025</time></div>
                <div class="nsw-card__title">
                    <a href="#">Cutting edge research helping farmers on the Eyre Peninsula</a>
                </div>
                <div class="nsw-card__copy">
                    <p>Cutting edge research helping farmers on the Eyre Peninsula.</p>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
        </div>
    </div>
</div>