<div class="nsw-section nsw-hero-banner--dark nsw-section--image pirsa-page-banner" style="background-image: url(image/pirsa/weeds-finder.jpg);">
    <div class="pirsa-page-banner__overlay">
        <div class="nsw-container pirsa-page-banner__container pirsa-page-banner__search">
            <div class="pirsa-page-banner__content">
                <h1 class="nsw-h2">Search for weeds</h1>
                <form role="search" class="hero-search__form">
                    <label class="sr-only nsw-form__label" for="form-input-group-">Search for weeds:</label>
                    <div class="nsw-form__input-group pirsa-searchbar">
                      <input class="nsw-form__input" type="text" id="form-input-group-" name="form-input-group-" value="" placeholder="Search for species">
                      <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit">
                          <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</span><span class="sr-only">Search</span>                 
                      </button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>  