<div class="nsw-grid">
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/5b9b6f04b013dcc44bbac7733f44ba3e.jpg" alt="Aquaculture">
            </div>
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a href="#">Aquaculture</a>
              </div>
              <div class="nsw-card__copy">
                <p>Policy, legislation and regulation, leasing and licensing, aquatic animal health, opportunities for development and research for our aquaculture industry.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/f604b58998a43f00750afabb14109b3e.jpg" alt="Commercial Fishing">
            </div>
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a href="landing-page-2.html">Commercial Fishing</a>
              </div>
              <div class="nsw-card__copy">
                <p>Policy and frameworks to protect the long-term sustainability of the state's aquatic resources and maximise the social and economic benefits.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/2d193d4b8d6dfc9e7f3e2b2385dc90bd.jpg" alt="Grains and Crops">
            </div>
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a href="#">Grains and Crops</a>
              </div>
              <div class="nsw-card__copy">
                <p>Support for SA's whole-of-chain sustainable grain industry, including facilitating partnerships, investments and international trade development.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/84f6f7c12a2ddd94d5d033a4658744eb.jpg" alt="Food and Beverage">
            </div>
            <div class="nsw-card__content">
              <div class="nsw-card__title">
                <a href="#">Food and Beverage</a>
              </div>
              <div class="nsw-card__copy">
                <p>Our food and beverage industries are a vital part of the state’s economy and there are major opportunities for growth locally, nationally and overseas.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/23dc2dc6f66c76668c684421e88a4720.jpg" alt="Forestry">
            </div>
            <div class="nsw-card__content">

              <div class="nsw-card__title">
                <a href="#">Forestry</a>
              </div>
              <div class="nsw-card__copy">
                <p>Initiatives to increase the economic value of the forest and wood products industry in a sustainable manner.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/2b79eb237496ea2c78c63754eddf18c6.jpg" alt="Grape and Wine">
            </div>
            <div class="nsw-card__content">

              <div class="nsw-card__title">
                <a href="#">Grape and Wine</a>
              </div>
              <div class="nsw-card__copy">
                <p>Support for our state's wine industry through increasing trade and investment, removing trade barriers, conducting research, and delivering community events.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/dbff5470d33dca95cc6101c63ae5d7c9.jpg" alt="Horticulture">
            </div>
            <div class="nsw-card__content">

              <div class="nsw-card__title">
                <a href="#">Horticulture</a>
              </div>
              <div class="nsw-card__copy">
                <p>Grants, research programs and biosecurity advice to protect South Australia's premium horticulture.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-3">
        <div class="nsw-card pirsa-card pirsa-card--light">
            <div class="nsw-card__image">
              <img src="image/cards/ec2828a7441867783e8a1a61da0399d5.jpg" alt="Livestock, Wool and Dairy">
            </div>
            <div class="nsw-card__content">

              <div class="nsw-card__title">
                <a href="#">Livestock, Wool and Dairy</a>
              </div>
              <div class="nsw-card__copy">
                <p>Animal health programs, industry associations, business resources and technical advice to help the livestock industry grow and become more profitable.</p>
              </div>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </div>
          </div>
    </div>    
  </div>