<h3>Quick links</h3>

<div class="nsw-grid">
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">

        <div class="nsw-link-list">
            <ul>
              <li>
                <a href="#">
                  <span>First home buyer grant and assistance</span>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Buying and selling property</span>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </a>
              </li>
            </ul>
          </div>

    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">

        <div class="nsw-link-list">
            <ul>
            <li>
                <a href="#">
                <span>First home buyer grant and assistance</span>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </a>
            </li>
            <li>
                <a href="#">
                <span>Buying and selling property</span>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
                </a>
            </li>
            </ul>
        </div>

    </div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
      <a href="#"><img src="image/newsletter-sign-up.webp" alt="Get the latest - Subscribe to our newsletters"></a>
    </div>
  </div>
