<form class="nsw-filters nsw-filters--down js-filters">
    <div class="nsw-filters__controls js-filters__count">
        <button>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">tune</span>
            <span>Filters</span>
            <span class="material-icons nsw-material-icons" focusable="false"
                aria-hidden="true">keyboard_arrow_down</span>
        </button>
    </div>
    <div class="nsw-filters__wrapper">
        <div class="nsw-filters__title">Filters</div>
        <div class="nsw-filters__list">
            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Categories</legend>
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories"
                            value="Primary industries" id="filters-instant-categories-0-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-categories-0-7">Primary industries</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Regions"
                            id="filters-instant-categories-1-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-categories-1-7">Regions</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories"
                            value="Science and innovation" id="filters-instant-categories-2-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-categories-2-7">Science and innovation</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories"
                            value="Biosecurity" id="filters-instant-categories-3-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-categories-3-7">Biosecurity</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories"
                            value="Fishing and aquaculture" id="filters-instant-categories-4-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-categories-4-7">Fishing and aquaculture</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories"
                            value="Emergencies and recovery" id="filters-instant-categories-5-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-categories-5-7">Emergencies and
                            recovery</label>
                    </fieldset>
                </div>
            </div>
            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Research Area</legend>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-area" value="Aquatic Sciences"
                            id="research-area-aquatic">
                        <label class="nsw-form__checkbox-label" for="research-area-aquatic">Aquatic Sciences</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-area" value="Crop Sciences"
                            id="research-area-crop">
                        <label class="nsw-form__checkbox-label" for="research-area-crop">Crop Sciences</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-area" value="Food Sciences"
                            id="research-area-food">
                        <label class="nsw-form__checkbox-label" for="research-area-food">Food Sciences</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-area" value="Livestock Sciences"
                            id="research-area-livestock">
                        <label class="nsw-form__checkbox-label" for="research-area-livestock">Livestock Sciences</label>
                        </fieldset>
                      
                </div>
            </div>
            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Research Program</legend>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Agronomy"
                            id="research-program-agronomy">
                        <label class="nsw-form__checkbox-label" for="research-program-agronomy">Agronomy</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Aquaculture"
                            id="research-program-aquaculture">
                        <label class="nsw-form__checkbox-label" for="research-program-aquaculture">Aquaculture</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Crop and Pasture Improvement"
                            id="research-program-crop">
                        <label class="nsw-form__checkbox-label" for="research-program-crop">Crop and Pasture Improvement</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Ecology"
                            id="research-program-ecology">
                        <label class="nsw-form__checkbox-label" for="research-program-ecology">Ecology</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Entomology"
                            id="research-program-entomology">
                        <label class="nsw-form__checkbox-label" for="research-program-entomology">Entomology</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Fisheries"
                            id="research-program-fisheries">
                        <label class="nsw-form__checkbox-label" for="research-program-fisheries">Fisheries</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Food Microbiology"
                            id="research-program-food-microbiology">
                        <label class="nsw-form__checkbox-label" for="research-program-food-microbiology">Food Microbiology</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Food Pilot Laboratory"
                            id="research-program-food-pilot">
                        <label class="nsw-form__checkbox-label" for="research-program-food-pilot">Food Pilot Laboratory</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Food Technology"
                            id="research-program-food-tech">
                        <label class="nsw-form__checkbox-label" for="research-program-food-tech">Food Technology</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Inland Waters and Catchment"
                            id="research-program-inland">
                        <label class="nsw-form__checkbox-label" for="research-program-inland">Inland Waters and Catchment</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Irrigated Crops"
                            id="research-program-irrigated">
                        <label class="nsw-form__checkbox-label" for="research-program-irrigated">Irrigated Crops</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program"
                            value="Livestock Innovation and Welfare" id="research-program-livestock">
                        <label class="nsw-form__checkbox-label" for="research-program-livestock">Livestock Innovation and Welfare</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Marine Ecosystems"
                            id="research-program-marine">
                        <label class="nsw-form__checkbox-label" for="research-program-marine">Marine Ecosystems</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program"
                            value="Meat Safety and Market Access" id="research-program-meat-safety">
                        <label class="nsw-form__checkbox-label" for="research-program-meat-safety">Meat Safety and Market Access</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Pig and Poultry"
                            id="research-program-pig">
                        <label class="nsw-form__checkbox-label" for="research-program-pig">Pig and Poultry</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program" value="Plant Health"
                            id="research-program-plant">
                        <label class="nsw-form__checkbox-label" for="research-program-plant">Plant Health</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="research-program"
                            value="Seafood Safety and Market Access" id="research-program-seafood">
                        <label class="nsw-form__checkbox-label" for="research-program-seafood">Seafood Safety and Market Access</label>
                    </fieldset>
                      
                </div>
            </div>
            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Project Status</legend>
                        <input class="nsw-form__checkbox-input" type="checkbox" name="project-status" value="Current"
                            id="project-status-current">
                        <label class="nsw-form__checkbox-label" for="project-status-current">Current</label>
                        <input class="nsw-form__checkbox-input" type="checkbox" name="project-status" value="Complete"
                            id="project-status-complete">
                        <label class="nsw-form__checkbox-label" for="project-status-complete">Complete</label>
                    </fieldset>
                      
                </div>
            </div>
            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Date Range</legend>
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-date-range" value="Last week"
                            id="filters-instant-date-range-0-1">
                        <label class="nsw-form__checkbox-label" for="filters-instant-date-range-0-1">Last week</label>
            
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-date-range"
                            value="Last 2 weeks" id="filters-instant-date-range-0-2">
                        <label class="nsw-form__checkbox-label" for="filters-instant-date-range-0-2">Last 2 weeks</label>
            
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-date-range" value="Last month"
                            id="filters-instant-date-range-0-3">
                        <label class="nsw-form__checkbox-label" for="filters-instant-date-range-0-3">Last month</label>
            
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-date-range"
                            value="Last 6 months" id="filters-instant-date-range-0-4">
                        <label class="nsw-form__checkbox-label" for="filters-instant-date-range-0-4">Last 6 months</label>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="nsw-filters__accept">
            <button type="submit" class="nsw-button nsw-button--dark nsw-button--full-width">Apply
                filters</button>
        </div>
        <div class="nsw-filters__cancel">
            <button type="reset">Clear all filters</button>
        </div>
    </div>
</form>