<form class="nsw-filters nsw-filters--down js-filters">
    <div class="nsw-filters__controls js-filters__count">
        <button>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">tune</span>
            <span>Filters</span>
            <span class="material-icons nsw-material-icons" focusable="false"
                aria-hidden="true">keyboard_arrow_down</span>
        </button>
    </div>
    <div class="nsw-filters__wrapper">
        <div class="nsw-filters__title">Filters</div>
        <div class="nsw-filters__list">
            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Categories</legend>
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories"
                            value="Primary industries" id="filters-instant-categories-0-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-categories-0-7">Primary industries</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Regions"
                            id="filters-instant-categories-1-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-categories-1-7">Regions</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories"
                            value="Science and innovation" id="filters-instant-categories-2-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-categories-2-7">Science and innovation</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories"
                            value="Biosecurity" id="filters-instant-categories-3-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-categories-3-7">Biosecurity</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories"
                            value="Fishing and aquaculture" id="filters-instant-categories-4-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-categories-4-7">Fishing and aquaculture</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories"
                            value="Emergencies and recovery" id="filters-instant-categories-5-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-categories-5-7">Emergencies and
                            recovery</label>
                    </fieldset>
                </div>
            </div>
            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Date Range</legend>
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-date-range" value="Last week"
                            id="filters-instant-date-range-0-1">
                        <label class="nsw-form__checkbox-label" for="filters-instant-date-range-0-1">Last week</label>
            
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-date-range"
                            value="Last 2 weeks" id="filters-instant-date-range-0-2">
                        <label class="nsw-form__checkbox-label" for="filters-instant-date-range-0-2">Last 2 weeks</label>
            
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-date-range" value="Last month"
                            id="filters-instant-date-range-0-3">
                        <label class="nsw-form__checkbox-label" for="filters-instant-date-range-0-3">Last month</label>
            
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-date-range"
                            value="Last 6 months" id="filters-instant-date-range-0-4">
                        <label class="nsw-form__checkbox-label" for="filters-instant-date-range-0-4">Last 6 months</label>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="nsw-filters__accept">
            <button type="submit" class="nsw-button nsw-button--dark nsw-button--full-width">Apply
                filters</button>
        </div>
        <div class="nsw-filters__cancel">
            <button type="reset">Clear all filters</button>
        </div>
    </div>
</form>