
  <div class="nsw-container">

    <h2>Simple search bar</h2>

    <form role="search" class="hero-search__form">
        <label class="sr-only nsw-form__label" for="form-input-group-">Search site for:</label>
        <div class="nsw-form__input-group pirsa-searchbar">
          <input class="nsw-form__input" type="text" id="form-input-group-" name="form-input-group-" value="" placeholder="Search for information and services">
          <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit">
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</span><span class="sr-only">Search</span>                 
          </button>
        </div>
      </form>

    <p>You can theme this search bar by adding colour override classes to the input and button elements.</p>

  </div>
