<form class="nsw-filters nsw-filters--down js-filters">
    <div class="nsw-filters__controls js-filters__count">
        <button>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">tune</span>
            <span>Filters</span>
            <span class="material-icons nsw-material-icons" focusable="false"
                aria-hidden="true">keyboard_arrow_down</span>
        </button>
    </div>
    <div class="nsw-filters__wrapper">
        <div class="nsw-filters__title">Filters</div>
        <div class="nsw-filters__list">
            <div class="nsw-filters__item">
                <button class="nsw-filters__item-button">
                    <span class="nsw-filters__item-name">Weed Type</span>
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</span>
                </button>                
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend sr-only">Weed Type</legend>
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-type"
                            value="All" id="filters-instant-type-0-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-type-0-7">All Weed Types</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-type" value="Aquatic"
                            id="filters-instant-type-1-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-type-1-7">Aquatic</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-type"
                            value="Cactus/Succulent" id="filters-instant-type-2-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-type-2-7">Cactus/Succulent</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-type"
                            value="Climber" id="filters-instant-type-3-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-type-3-7">Climber</label>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-type"
                            value="Grass" id="filters-instant-type-4-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-type-4-7">Grass</label>
                        
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-type"
                            value="Herb" id="filters-instant-type-5-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-type-5-7">Herb</label>
                    
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-type"
                            value="Shurb" id="filters-instant-type-6-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-type-6-7">Shrub</label>
                        
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-type"
                            value="Tree" id="filters-instant-type-7-7">
                        <label class="nsw-form__checkbox-label" for="filters-instant-type-7-7">Tree</label>                        

                    </fieldset>
                </div>
            </div>
            <div class="nsw-filters__item">
                <button class="nsw-filters__item-button">
                    <span class="nsw-filters__item-name">Growth</span>
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_down</span>
                </button>    
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend sr-only">Growth</legend>

                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-growth" value="Annual" id="filters-growth-0-1">
                        <label class="nsw-form__checkbox-label" for="filters-growth-0-1">Annual</label>
            
                        <input class="nsw-form__checkbox-input" type="checkbox" name="filters-growth" value="Perennial" id="filters-growth-0-2">
                        <label class="nsw-form__checkbox-label" for="filters-growth-0-2">Perennial</label>

                        </fieldset>
                </div>
            </div>
            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Habitat</legend>

                    </fieldset>
                </div>
            </div>

            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Impact</legend>

                    </fieldset>
                </div>
            </div>

            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Legal Requirements</legend>

                    </fieldset>
                </div>
            </div>      

            <div class="nsw-filters__item">
                <div class="nsw-filters__item-content">
                    <fieldset class="nsw-form__fieldset">
                        <legend class="nsw-form__legend">Significance</legend>

                    </fieldset>
                </div>
            </div>            
            


        </div>
        <div class="nsw-filters__accept">
            <button type="submit" class="nsw-button nsw-button--dark nsw-button--full-width pirsa-button--rounded">Apply
                filters</button>
        </div>
        <div class="nsw-filters__cancel">
            <button type="reset">Clear all filters</button>
        </div>
    </div>
</form>